html{margin:0;color:#424242;line-height:20px;background-color:#ffffff;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,audio,canvas,video{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;}
body,button,input,select,textarea{margin:0;font-family:"Helvetica Neue","Helvetica","tahoma","arial","\5FAE\8F6F\96C5\9ED1","\5b8b\4f53";font-size:12px;line-height:20px;color:#424242;background-color:#FFF;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
iframe{*display:block;}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
em,s{font-style:italic;}
s{display:inline-block;*display:inline;*zoom:1;text-decoration:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:500;}
abbr,acronym{border:0;font-variant:normal;}
caption,th{text-align:left;}
ol,ul{list-style:none;list-style-type:none;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{height:auto;vertical-align:middle;border:0;}
img{-ms-interpolation-mode:bicubic;}
#map_canvas img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
ins,a,s{text-decoration:none;font-style:normal;}
i{display: inline-block;*zoom: 1;*display: inline;vertical-align: middle;}
a{color:#333333;text-decoration:none;}
a:hover{color:#da4f1f;text-decoration:underline;}
a:active{outline:0;}
ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:bold;line-height:1;color:inherit;text-rendering:optimizelegibility;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#999999;}
h1{font-size:26px;line-height:34px;}
h2{font-size:20px;line-height:28px;}
h3{font-size:16px;line-height:22px;}
h4{font-size:14px;line-height:20px;}
h5{font-size:12px;line-height:18px;}
h6{font-size:12px;line-height:16px;}
h1 small{font-size:20px;}
h2 small{font-size:14px;}
h3 small{font-size:12px;}
h4 small{font-size:12px;}
.clearfix,.clear,.form li,.innel {*zoom:1;}
.clearfix:before,.clear:before,.form li:before,.clearfix:after,.clear:after,.form li:after,.innel:after {display:table;content:"";}
.clearfix:after,.clear:after,.form li:after,.innel:after {clear:both;}
.innel {margin: 0 auto;width: 1000px;}
.header {border-top: 10px solid #433f40;height: 96px;}
.header .logo {float:left;margin: 22px 0 0 26px;}
.header .logo a {display: block;width: 114px;height: 54px;background: url(bar.png) -119px -279px no-repeat;text-indent: -9999px;}
.header .menu {float: right;padding: 34px 0 0 0;}
.header .menu li {float: left;}
.header .menu li a {float: left;margin: 5px 10px 0 10px;padding: 0 0 0 30px;line-height: 28px;font-size: 25px;font-family: "Helvetica Neue","Helvetica","tahoma","arial","\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";text-decoration: none;}
.header .menu li a:hover {background: url(bar.png) -280px 5px no-repeat;color: #f60;}
.header .menu li a:active {background: none;color: #333;}
.header .menu li a.current,.header .menu li a.current:hover {background: url(bar.png) -280px 5px no-repeat;color: #f60;}
.header .menu li a em {padding: 0 5px;color: #cbcbcb;}
.header .menu li a span {font-size: 12px;color: #cbcbcb;}

.focus {height: 385px;background: #f80;}

.superior {padding: 0 0 30px;border-bottom: 1px solid #d4d4d3;}
.superior ul {margin-right: -25px;}
.superior li {float:left;margin-right: 25px;*margin-right: 20px;padding-top: 47px;width: 180px;text-align: center;}
.superior li h2 {padding: 18px 0;font-size: 25px;color: #2a2a2a;}
.superior li p {text-align: left;}
.superior li i {width: 77px;height: 77px;background: url(bar.png) left top no-repeat;}
.superior li.superior1 i {background-position: left -68px;}
.superior li.superior2 i {background-position: -86px -68px;}
.superior li.superior3 i {background-position: -171px -68px;}
.superior li.superior4 i {background-position: left -155px;}.superior li.superior5 i {background-position: -86px -155px;}

.head {font-size: 25px;color: #2a2a2a;font-weight: normal;font-family: "Helvetica Neue","Helvetica","tahoma","arial","\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.head em {padding: 0 5px;color: #999;}
.head span {font-size: 12px;color: #999;}

.ourService {padding: 28px 0;background: #f7f7f7;border-top: 1px solid #fdfdfd;border-bottom: 1px solid #d4d4d3;}
.ourService .picBar {margin: 30px -20px 0 0;}
.ourService .picBar li {float: left;margin-right: 20px;width: 318px;height: 196px;border: 1px solid #fdfdfd;*border: 1px solid #ccc;box-shadow: 2px 2px 3px #ccc;background: url(service.jpg) left top no-repeat;}
.ourService .picBar li.picBar2 {background-position: left -197px;}
.ourService .picBar li.picBar3 {background-position: left bottom;}
.ourService .picBar h3 {margin: 13px 0 10px 13px;font-size: 18px;font-weight: normal;font-family: "Helvetica Neue","Helvetica","tahoma","arial","\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.ourService .picBar p {margin: 0 0 0 13px;}
.ourService .picBar a {margin: 18px 0 0 13px;display: block;width: 84px;height: 28px;line-height: 28px;text-align: center;background: #ff6501;color: #fff;border-radius: 5px;}
.ourService .picBar a:hover {background: #d36218;}
.ourService .picBar a:active {background: #666;color: #333;}
.ourService .picBar a i {margin: -2px 0 0 3px;width: 12px;height: 18px;background: url(bar.png) -190px top no-repeat;vertical-align: middle;}
.ourService .picBar a:hover i {background-position: -190px -20px;}
.ourService .picBar a:active i {background-position: -190px -40px;}
.ourService .VAS h4,.ourService .VAS li h6 {padding: 30px 0 12px 0;font-size: 18px;border-bottom:1px solid #d6d6d6;font-weight: normal;font-family: "Helvetica Neue","Helvetica","tahoma","arial","\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.ourService .VAS ul {margin-right: -25px;overflow: hidden;}
.ourService .VAS li {float:left;margin-right: 25px;*margin-right: 20px;width: 180px;}
.ourService .VAS li h6 {padding: 15px 0 10px 0;font-size: 14px;border-bottom: 1px dotted #ccc;}
.ourService .VAS li p {padding: 10px 0;line-height: 24px;}
.ourService .VAS li i {margin: -5px 5px 0 0;width: 28px;height: 28px;background: url(bar.png) -171px -155px no-repeat;}
.ourService .VAS li.VAS02 i {background-position: -209px -155px;}
.ourService .VAS li.VAS03 i {background-position: -246px -155px;}
.ourService .VAS li.VAS04 i {background-position: -171px -189px;}
.ourService .VAS li.VAS05 i {background-position: -209px -189px;}

.servicePage {padding: 18px 0;background: none;}
.servicePage .picBar {margin: 0px -20px 0 0;}

#SPTab {position: relative;background: #fff;box-shadow: 0 3px 0px #f5f5f5;}
.SPTab p {margin: 20px 0 5px;padding: 20px 0 0;height: 52px;border-bottom: 1px solid #ccc;}
.SPTab p a {float:left;padding: 10px 28px;font-size: 18px;line-height: 30px;height: 30px;}
.SPTab p a.Tab01 {padding: 10px 29px;}
.SPTab p a:hover,.SPTab p a.current,.SPTab p a.current:hover {border-bottom: 3px solid #f60;background: url(bar.png) center bottom no-repeat;text-decoration: none;color:#f60;}
.SPTab p a:active {border-bottom: 3px solid #666;background: none;color: #333;}

.SPcontent {overflow: hidden;}
.SPcontent dl {padding: 40px 0;background: url(sfBack.jpg) center top no-repeat;overflow: hidden;}
.SPcontent dl.SPF01 {background: none;}
.SPcontent dl .desc {margin-bottom: 10px;padding: 10px 0 15px;border-bottom: 3px dotted #cbcbcb;}
.SPcontent dl h6 {padding: 10px 0 5px;}
.SPcontent dl.SPF01 dt,.SPcontent dl.SPF03 dt,.SPcontent dl.SPF05 dt {float: left;width: 500px;height: 380px;}
.SPcontent dl.SPF01 dd,.SPcontent dl.SPF03 dd,.SPcontent dl.SPF05 dd {margin: 20px 0 20px 550px;}
.SPcontent dl.SPF02 dt,.SPcontent dl.SPF04 dt {float: right;width: 500px;height: 380px;}
.SPcontent dl.SPF02 dd,.SPcontent dl.SPF04 dd {float:left;margin: 20px 0 20px 0px;width: 440px;}
.SPcontent dl.SPF01 dt {background: url(f1.jpg) left top no-repeat;}
.SPcontent dl.SPF02 dt {background: url(f2.jpg) 100px top no-repeat;}
.SPcontent dl.SPF03 dt {background: url(f3.jpg) 80px top no-repeat;}
.SPcontent dl.SPF04 dt {background: url(f4.jpg) 120px top no-repeat;}
.SPcontent dl.SPF05 dt {background: url(f5.jpg) 60px top no-repeat;}
.SPcontent dl.SPF01 {background: none;}
.SPcontent dl.SPF01 {background: none;}

.history {padding: 30px 0 50px 0;}
.history .historyLine ul {margin: 30px 0;padding: 0 20px;border-bottom: 2px solid #ccc;height: 52px;}
.history .historyLine li {float: left;_margin-bottom: -50px;position: relative;width: 160px;text-align: center;}
.history .historyLine li h6,.history .historyLine li span {display: block;_position:relative;margin: 10px -100px;height: 22px;}
.history .historyLine li h6 {color: #666;}
.history .historyLine li span {color: #999;}
.history .historyLine li .bottom {margin-top: 40px;}
.history .historyLine li i {position: absolute;left: 50%;margin-left: -10px;width: 12px;height: 12px;border-radius: 53%;background: #0084ff;border: 4px solid #fff;*border: 4px solid #ccc;box-shadow: 0 0 3px #ccc;-webkit-transition: margin linear 0.2s, height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;-moz-transition: margin linear 0.2s, height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;-ms-transition: margin linear 0.2s, height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;-o-transition: margin linear 0.2s, height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;transition: margin linear 0.2s, height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;}
.history .historyLine li i:hover {margin: -6px -6px -6px -16px;width: 20px;height: 20px;border-radius: 53%;background: #0084ff;border: 6px solid #fff;box-shadow: 0 0 8px #ccc;}

.nAndp ul {padding: 15px 0 20px;}
.newsList {float: left;width: 348px;}
.newsList .more {float: right;* width: 80px;margin-top: 5px;_margin-top: 5px;color: #0283ff;font-size: 14px;line-height: 14px;text-decoration: none;text-align: right;}
.newsList .more s {display: block;* display: none;margin-top: -8px;font-size: 40px;line-height: 1px;}
.newsList li {border-bottom: 1px dotted #ccc;line-height: 29px;}
.newsList cite {float: right;}
.newsList li a {display: block;*float:left;width: 280px;*width: 260px;}
.partners {float: right;width: 607px;margin-right: -7px;}
.partners li {* float: left;}
.partners li a {float: left;margin: 7px 7px 7px 0;width: 112px;height: 48px;border: 1px solid #ccc;background: url(partner.png) left top no-repeat;}
.partners li.partner01 a:hover {background-position: left -57px;}
.partners li.partner01 a:active {background-position: left top;}
.partners li.partner02 a {background-position: -121px top;}
.partners li.partner02 a:hover {background-position: -121px -57px;}
.partners li.partner02 a:active {background-position: -121px top;}
.partners li.partner03 a {background-position: -242px top;}
.partners li.partner03 a:hover {background-position: -242px -57px;}
.partners li.partner03 a:active {background-position: -242px top;}
.partners li.partner04 a {background-position: -363px top;}
.partners li.partner04 a:hover {background-position: -363px -57px;}
.partners li.partner04 a:active {background-position: -363px top;}
.partners li.partner05 a {background-position: -484px top;}
.partners li.partner05 a:hover {background-position: -484px -57px;}
.partners li.partner05 a:active {background-position: -484px top;}
.partners li.partner06 a {background-position: left -114px;}
.partners li.partner06 a:hover {background-position: left -171px;}
.partners li.partner06 a:active {background-position: left -114px;}
.partners li.partner07 a {background-position: -121px -114px;}
.partners li.partner07 a:hover {background-position: -121px -171px;}
.partners li.partner07 a:active {background-position: -121px -114px;}
.partners li.partner08 a {background-position: -242px -114px;}
.partners li.partner08 a:hover {background-position: -242px -171px;}
.partners li.partner08 a:active {background-position: -242px -114px;}
.partners li.partner09 a {background-position: -363px -114px;}
.partners li.partner09 a:hover {background-position: -363px -171px;}
.partners li.partner09 a:active {background-position: -363px -114px;}
.partners li.partner10 a {background-position: -484px -114px;}
.partners li.partner10 a:hover {background-position: -484px -171px;}
.partners li.partner10 a:active {background-position: -484px -114px;}

.footer {padding: 35px 0 30px 0;background: #2b2b2b;}
.footer .copyright {float: right;margin-top: -8px;_padding-top: 5px;color: #666;text-align: right;}
.footer .contactPhone h3 {color: #cbcbcc;font-size: 35px;}
.footer .contactPhone h3 i {margin: -3px 8px 0 0;width: 40px;height: 40px;background: url(bar.png) -256px -68px no-repeat;}

.subBanner {background-color: #f60;background-position: center top;background-repeat: no-repeat;height: 260px;}
.breadcrumb {padding: 10px 0;}
.breadcrumb span,.breadcrumb a {margin: 0 5px;color: #666;}
.breadcrumb a:hover {color: #f60;}
.breadcrumb a:active {color: #333;}

.aboutPage {}
.conpContent {margin: 0 0 0 189px;padding: 20px;font-size: 16px;line-height: 38px;}
.conpContent s {float: left;margin-left: -189px;height: 112px;width: 109px;background: url(bar.png) left -279px no-repeat;}
.conpContent p {padding-bottom: 10px;}
.aboutList {margin: 0 0 40px 209px;}
.aboutList li {_padding: 4px 0;font-size: 16px;line-height: 38px;_line-height: 42px;}
.aboutList li i {margin: 0 12px 0 0;width: 32px;height: 32px;background: url(bar.png) -37px -238px no-repeat;}
.aboutPart {background: #f5f5f5;}
.aboutPart .innel div {padding: 80px 720px 80px 20px;background: url(aboutP.png) right 50px no-repeat;}
.aboutPart .innel div p {padding: 0 0 10px;}
.aboutEnd {padding-bottom: 60px;}
.aboutEnd .aobutIcon {float:left;_display:inline;margin: 60px 120px 0 164px;width: 265px;height: 266px;background: url(bar.png) left -408px no-repeat;}
.aboutEnd .aboutOF {float: left;font-size: 32px;_line-height: 40px;color: #0082cd;}
.aboutEnd .aboutOF .OFlogo {margin: 140px 0 15px;background: url(bar.png) left top no-repeat;width: 100px;height: 33px;text-indent: -9999px;overflow: hidden;}
.aboutEnd dd {margin-left: 60px;padding-top: 30px;}
.aboutEnd q {float:left;_padding: 10px 0 0;margin-left: -60px;font-size: 28px;color: #cbcbcb;}

.contactPage {padding-bottom: 80px;}
.contactPage h5 {margin: 25px 0 15px 5px;font-size: 18px;font-weight: normal;}
.contactPage h3 {margin: 25px 0 10px;padding: 8px 10px;font-size: 18px;font-weight: normal;background: #f5f5f5;}
.contactPage .onlineSer {display: inline-block;*zoom: 1;* display: inline;vertical-align:middle;width: 76px;height: 22px;background: url(online.png) 0 0 no-repeat;}
.contactPage .onlineSer:hover {background-position: 0 -22px;}
.contactPage .onlineSer:active {background-position: 0 -44px;}
.contactPage .contactList {margin-right: -20px;padding: 10px 20px;}
.contactPage .contactList h4 {margin: 8px 0 0;}
.contactPage .contactList h4 i {margin: -2px 5px 0 0;width: 18px;height: 18px;background: url(bar.png) -115px -238px no-repeat;}
.contactPage .contactList .subCoList {padding-left: 23px;}
.contactPage .contactList dl {float:left;margin: 10px 10px 0 0;padding: 0 0 10px;background: #fdfdfd;border: 1px solid #ccc;border-radius: 5px;width: 240px;}
.contactPage .contactList dl dt {float:left;_display:inline;margin: 18px 0 0 10px;width: 58px;height: 58px;background: url(bar.png) -172px -219px no-repeat;}
.contactPage .contactList dl.w dt {background-position: -234px -219px;}
.contactPage .contactList dl dd {margin-left: 80px;}
.contactPage .contactList dl h6 {margin: 10px 0 10px;font-size: 16px;font-weight: normal;}
.contactPage .Add p  {padding: 5px;}
.contactPage .Add strong {font-size: 18px;color: #f60;}
.contactPage .Add dt {float: right;margin-right: 10px;width: 613px;height: 240px;background: url(map.png) left -10px no-repeat;}

.container {}
.container .head {margin: 10px 0 20px;padding: 10px;border-bottom: 3px solid #252525;}
.container .head i {margin: -2px 12px 0 0;width: 32px;height: 32px;background: url(bar.png) left -238px no-repeat;}
.newsUL {margin-bottom: 60px;overflow: hidden;}
.newsUL li {margin-bottom: -1px;padding: 15px 10px;border-bottom: 1px dashed #ccc;overflow: hidden;}
.newsUL li cite {float: right;}
.newsUL li a {font-size: 18px;}
.newsUL li a.more {float:right;font-size: 12px;color: #666;}
.newsUL li p {padding: 8px 0;color: #999;}

.container h1 {padding: 20px 0 10px;border-bottom: 3px solid #252525;text-align: center;}
.container h1 i {display:block;font-size: 12px;color: #999;line-height: 18px;font-weight: normal;}
.container .content {padding: 20px 10px 60px;line-height: 28px;}
.container .content p {padding: 5px 0;}


/* focus */
#iview-timer {position: absolute; z-index: 100; border-radius: 5px; cursor: pointer; }
#iview-timer div {border-radius: 3px; }
#iview-preloader {position: absolute; z-index: 1000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: #000 1px solid; padding: 1px; width: 100px; height: 3px; }
#iview-preloader div {float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; height: 3px; background: #000; width: 0px; }
.iview-strip {display:block; position:absolute; z-index:5; } 
.iview-block {display:block; position:absolute; z-index:5; }
.iview-directionNav a {position:absolute; top:45%; z-index:9; cursor:pointer; } .iview-prevNav {left:0px; } .iview-nextNav {right:0px; }
.iview-controlNav {position:absolute; z-index:9; } .iview-controlNav a {z-index:9; cursor:pointer; } .iview-controlNav a.active {font-weight:bold; } .iview-controlNav .iview-items ul {list-style: none; } .iview-controlNav .iview-items ul li {display: inline; position: relative; } .iview-controlNav .iview-tooltip {position: absolute; }
.iview-caption {position:absolute; z-index:4; overflow: hidden; cursor: default; }
.iview-video-show {background: #000; position: absolute; width: 100%; height: 100%; z-index: 101; } .iview-video-show .iview-video-container {position: relative; width: 100%; height: 100%; } .iview-video-show .iview-video-container a.iview-video-close {position: absolute; right: 10px; top: 10px; background: #222; color: #FFF; height: 20px; width: 20px; text-align: center; line-height: 29px; font-size: 22px; font-weight: bold; overflow: hidden; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; } .iview-video-show .iview-video-container a.iview-video-close:hover {background: #444; }
#iview {display: block; width: 100%; height: 385px; background: #f80; position: relative; overflow: hidden;}
#iview .iviewSlider {display: block; width: 100%; height: 385px; overflow: hidden;background-position: center top!important;}
.iview-controlNav {position: absolute; bottom: 20px; left: 49%; }
.iview-controlNav a {text-indent: -9999px; }
.iview-controlNav a.iview-control {padding: 0px; float: left; width: 11px; height: 11px; background: url('bullets_2.png') no-repeat 0px 0px; line-height: 0px; margin-right: 7px; }
.iview-controlNav a.iview-control.active {background-position: 0px -11px; }
#iview div.iview-directionNav {position: absolute; top: 150px; left: 0px; z-index: 9; width: 100%; }
#iview div.iview-directionNav a {display: block; cursor: pointer; position: absolute; width: 40px; height: 100px; background-image: url(nav_paddles.png); text-indent: -9999px; }
#iview div.iview-directionNav a:active {background-image: url(nav_paddles_down.png); }
#iview div.iview-directionNav a.iview-nextNav {right: 20px; background-position: 56px 0px; }
#iview div.iview-directionNav a.iview-prevNav {left: 20px; background-position: -16px 0px }
.iview-caption {padding: 10px 15px; font-size: 12px; text-shadow: #000 1px 1px 0px;font-family: "Helvetica Neue","Helvetica","tahoma","arial","\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
#iview .innel {position: relative;}
.iview-caption.video-caption {padding: 10px; }
.iview-caption {text-shadow: none;}
.iview-caption div {line-height: 150%;}
.iview-caption h1 {font-size: 48px;color: #fff;font-weight: normal;line-height: 52px;}
.iview-caption p {font-size: 18px;color: #212121;line-height: 200%;}
.iview-caption.caption2 h1 {font-size: 38px;color: #f60;}
.iview-caption.caption2 p {padding: 24px 0 0 150px;}
.iview-caption.caption4 h1 {color: #3b3b3b}
.iview-caption.caption4 p {padding: 24px 0 0 150px;}
.iview-caption.caption5 h1 {color: #f60}
.iview-caption.caption4 a,.iview-caption.caption5 a {display:block;margin-top: 30px;text-align:center;font-size: 25px;border-radius: 3px;color:#fff;line-height: 48px;height: 48px;width: 160px;background: #678eff;}
.iview-caption.caption5 i {background-position: -86px -155px;}
.iview-caption.caption5 a {margin: 30px 0 0 0;background: #62c12d;}
.iview-caption.caption4 a:hover {ackground: #80a0fc;color: #fff;}
.iview-caption.caption5 a:hover {background: #85dc54;color: #fff;}
.iview-caption.caption4 a:active,.iview-caption.caption5 a:active {background: #666;color: #333;}
#iview-preloader {border: #666 1px solid; width: 150px }
#iview-preloader div {background: #666; }