.common-banner.login-banner {
  height: 300px;
  background-image: url(../img/form-banner.jpg);
}
.form-title {
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  font-size: 24px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 34px;
  padding-bottom: 7px;
  text-align: center;
  position: relative;
}
.form-title:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  height: 0;
  border-bottom: 3px solid #666;
}
.form-box {
  position: relative;
  margin-bottom: 25px;
}
.form-box .form-input {
  width: 285px;
  background: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  font-size: 14px;
  line-height: 24px;
  color: #555;
  padding: 10px 10px 10px 66px;
  outline: none;
  background-color: #FFFFFF;
}
.form-box .form-input:focus {
  border: 1px solid #FFC2A6;
  box-shadow: 0px 0px 5px 0px #FFD5C2;
  border-radius: 2px;
}
.form-box .form-icon {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 18px;
  top: 50%;
  margin-top: -12px;
  background-position: center;
  background-repeat: no-repeat;
}
.form-box .form-icon.icon-account {
  width: 21px;
  background-image: url(../img/icon-account.png);
}
.form-box .form-icon.icon-password {
  background-image: url(../img/icon-password.png);
}
.form-box .form-icon.icon-newfullname {
  width: 21px;
  background-image: url(../img/icon-account.png);
}
.form-box .form-icon.icon-newqq {
  width: 21px;
  background-image: url(../img/icon-account.png);
}
.form-box .form-icon.icon-email {
  width: 30px;
  height: 20px;
  left: 12px;
  margin-top: -10px;
  background-image: url(../img/icon-email.png);
}
.form-box .form-icon.icon-code {
  width: 24px;
  height: 24px;
  left: 15px;
  margin-top: -12px;
  background-image: url(../img/icon-code.png);
}
.form-box .form-icon.icon-phone {
  width: 24px;
  left: 15px;
  background-image: url(../img/icon-phone.png);
}
.form-box .form-icon.icon-qq {
  width: 22px;
  left: 15px;
  background-image: url(../img/icon-qq.png);
}
.form-box .form-icon.icon-web {
  width: 24px;
  left: 15px;
  background-image: url(../img/icon-web.png);
}
.form-box .form-separator {
  position: absolute;
  left: 54px;
  top: 50%;
  margin-top: -13px;
  height: 26px;
  width: 0;
  border-left: 1px solid #E3E3E3;
}
.form-box.col-2 {
  overflow: hidden;
}
.form-box.col-2 .form-input {
  float: left;
  width: 175px;
}
.form-box.col-2 .form-btn {
  float: right;
  width: 94px;
  line-height: 44px;
  padding: 0;
  color: #fff;
  background: #FF6C2B;
  font-size: 14px;
  height: 44px;
  border-radius: 5px;
  margin-top: 1px;
  cursor: pointer;
}
.form-btn {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  background: #FF6C2B;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
}
.login-wrap {
  width: 360px;
  background-color: #fff;
  padding: 40px 50px;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 1px 12px 0px rgba(197, 197, 197, 0.5);
  margin: -80px auto 0;
  position: relative;
  z-index: 2;
}
.login-main {
  width: 100%;
  margin: 40px auto 0;
}
.login-main .remember-me {
  color: #666;
  font-size: 14px;
}
.login-main .remember-me input[type=checkbox] {
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
.login-main .remember-me label {
  vertical-align: middle;
  margin-left: 6px;
}
.login-main .forgot {
  color: #666;
  font-size: 14px;
}
.login-main .other-enter {
  font-size: 16px;
  color: #000000;
  line-height: 36px;
}
.login-main .other-enter .link-go {
  border: 1px solid #FF6C2B;
  border-radius: 4px;
  color: #FF6C2B;
  font-size: 14px;
  display: inline-block;
  width: 103px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.login-wrap.reg-wrap .login-main {
  margin-top: 0;
}
.login-wrap.reg-wrap .login-main .other-enter {
  font-size: 14px;
}
.login-wrap.reg-wrap .login-main .other-enter .link-go {
  margin-left: 5px;
}
.login-wrap .tips {
  color: #666666;
  line-height: 26px;
  margin: 18px 0 26px 0;
}
.reg-notice {
  width: 470px;
  margin: 40px auto;
  color: #666;
}
.reg-notice h5 {
  font-size: 20px;
  color: #333;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 5px;
}
.reg-notice li {
  line-height: 1.8;
}
.reg-notice .again-send {
  color: #FF6C2B;
  text-decoration: underline;
  cursor: pointer;
}
