.opening{ background:url(../images/User/Icon/3.png) no-repeat 0px 5px; color:#C9CACA; padding-left:25px;  height:25px; line-height:25px; display:inline-block; margin-left:5px; margin-right:50px;}
.run{ background:url(../images/User/Icon/2.png) no-repeat 0px 5px; color:#65A010; padding-left:25px;  height:25px; line-height:25px; display:inline-block; margin-left:5px; margin-right:50px;}
.stop{ background:url(../images/User/Icon/1.png) no-repeat 0px 5px; color:#F29700; padding-left:25px;  height:25px; line-height:25px; display:inline-block; margin-left:5px; margin-right:50px;}

