<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<MemCachedConfig>
		<!--是否启用memcacehd，注：当为false时则仅使用本地缓存-->
		<add key="ApplyMemCached" value="false"></add>
		<!--服务IP和端口信息，多个服务之间用','分割-->
		<add key="ServerList" value="127.0.0.1:11211"></add>
		<!--服务的权重列表，与上前的ServerList在数目上保持对应关系，权重越大的服务器会存储更多的缓存信息-->
		<add key="Weights" value="1"></add>
		<!--连接池名称-->
		<add key="PoolName" value="MemCache"></add>
		<!--初始化链接数-->
		<add key="IntConnections" value="2"></add>
		<!--最少链接数-->
		<add key="MinConnections" value="2"></add>
		<!--最大连接数-->
		<add key="MaxConnections" value="4"></add>
		<!--Socket链接超时时间-->
		<add key="SocketConnectTimeout" value="90000"></add>
		<!--Socket超时时-->
		<add key="SocketTimeout" value="90000"></add>
		<!--维护线程休息时间-->
		<add key="MaintenanceSleep" value="90000"></add>
		<!--失效转移，即服务器失效后，由其它服务器接管其工作,详情参见http://baike.baidu.com/view/1084309.htm-->
		<add key="FailOver" value="true"></add>
		<!--是否用nagle算法启动socket-->		
		<add key="Nagle" value="true"></add>
		<!--NATIVE:原始hash方法String.hashCode() ，虽高效但不兼容所有客户端
      OldCompatibleHash : 原版兼容<summary> hashing 算法，但效率不高
      NewCompatibleHash ：采用<summary>CRC32 兼容 hashing 算法，效率高，推荐使用-->
		<add key="HashingAlgorithm" value="NewCompatibleHash"></add>
		<!--本地缓存到期时间，该设置会与memcached搭配使用，0为不受限制-->
		<add key="LocalCacheTime" value="0"></add>
		<!--Memcached缓存到期时间，0为不受时间限制-->
		<add key="MemCacheTime" value="0"></add>
		<!--是否记录日志,该设置仅用于排查memcached运行时出现的问题,如memcached工作正常,请关闭该项-->
		<add key="RecordeLog" value="false"></add>
		<!--负载均衡下同步缓存的url信息工具链接(注:站点之间用‘,’分割，并使用tools/目录下的SyncLocalCache.ashx文件)-->
		<add key="SyncCacheUrl" value="http://localhost:1998/tools/"></add>
		<!--负载均衡下同步缓存的认证码信息，用于防止第三方注入链接-->
		<add key="AuthCode" value="A7745AB1-9505-48f0-A87B-6EEC1365BD2F"></add>
		<add key="ApplyBase64" value="true"></add>
	</MemCachedConfig>		
</configuration>
