<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtimeSettings>
    <!-- 充值中心 最好用IP可以 避免 发送服务器是电信 接口商通知服务器是电信-->
    <add key="Sitedomain" value="http://api.changjpay.com"></add>
    <!--服务器编号 当有多台web服务器时，可以跟踪调试-->
    <add key="ServerId" value="1"></add>
    <!--是否进行来路判定 1 判定 0 不判定-->
    <add key="CheckUrlReferrer" value="0"></add>
    <!--是否进行用户订单号检查-->
    <add key="CheckUserOrderNo" value="0"></add>
    <!--是否显示本站支付完成页面 0 为开启 1为不开启。 -->
    <add key="Paycompletpage" value="0"></add>
    <add key="ConnectString" value="1joJN3iH1UukptWRrep21Cdeokngc2qpjObPiCLpoiMM97d7/ESTcTZikkMVcN40e56UxrSy35N7WAmlg4snH5jFESmNC+ml8vgAYv50NkM="></add>
    <add key="WebDAL" value="viviapi.SQLServerDAL"/>
    <add key="OrdersDAL" value="viviapi.SQLServerDAL"/>
    <!-- Order processing options (Asynch/Synch) -->
    <add key="OrderStrategyAssembly" value="viviapi.BLL"/>
    <add key="OrderStrategyClass" value="viviapi.BLL.OrderBankSynchronous"/>
    <add key="OrderCardStrategyAssembly" value="viviapi.BLL"/>
    <add key="OrderCardStrategyClass" value="viviapi.BLL.OrderCardSynchronous"/>
    <add key="OrderSmsStrategyAssembly" value="viviapi.BLL"/>
    <!--短信同步-->
    <add key="OrderSmsStrategyClass" value="viviapi.BLL.OrderSmsSynchronous"/>
  </runtimeSettings>
  <paymentSettings>
    <add key="jumpUrl" value=""></add>
    <!--是否显示举报页大于0显示 0不显示-->
    <add key="showjubao" value="0"></add>

    <!--支付宝显示-->
    <add key="alipay_body" value="viviapi"></add>
    <add key="alipay_subject" value="viviapi"></add>

    <!--易宝相关-->
    <add key="yeepay_pid" value="Pid"></add>
    <add key="yeepay_pcat" value="Pcat"></add>
    <add key="yeepay_pdesc" value="Pdesc"></add>

    <!--贝付商品描述（可空）-->
    <add key="ebatong_body" value=""></add>
    <!--贝付商品展示地址（可空）-->
    <add key="ebatong_url" value=""></add>
    <!--贝付商品名称-->
    <add key="ebatong_subject" value="官方充值中心"></add>

    <!--腾付通-->
    <!--商户pfx证书-->
    <add key="tftpay_MerLicences" value="XXXXXXXX.pfx"></add>
    <!--滕邦公钥-->
    <add key="tftpay_TBLicences" value="cacert_sc.cer"></add>
    <!--填入滕邦提供的网关地址，分sit、uit等服务器，请联系滕邦人员-->
    <add key="tftpay_PostAdd" value="http://www.tftpay.com/middleWeb/webconn"></add>
    <add key="tftpay_MerBusType" value="30"></add>

    <add key="KuaiQian_prikey_path" value="C:\certificate\tester-rsa.pfx"/>
    <add key="KuaiQian_pubkey_path" value="C:\certificate\99bill.cert.rsa.20140728.cer"/>
    <add key="Smscoms" value="1819,8518,6817,5318,5248,3325,25607,1415,aa63,2933,a*21,5318,5248"/>
    <add key="mengsmsarrCom" value="106618627|280606|1,10668282|531606|2,10665110|Cxap06|5,10665110|a68206|5,106611198|811606|2,106610989|686206|2,10660058|a10606|2,106667890|s10606|2,16836112|101606|5,16836112|101606|10,16836112|101606|15,16836112|101606|20"/>
    <add key="yisheng_buyer_realname" value="viviapi"></add>
    <add key="Gopay_userType" value="1"></add>
    <add key="shenzhoufucertificate" value="c:\shenzhoufuPay.cer"></add>

    <!--易宝-->
    <add key="switch_yeepay_form_url" value="https://www.yeepay.com/app-merchant-proxy/node"></add>
    <!--盛付通-->
    <add key="switch_sdopay_form_url" value="https://mas.sdo.com/web-acquire-channel/cashier30direct.htm"></add>
    <!--支付宝-->
    <add key="switch_alipay_form_url" value="https://mapi.alipay.com/gateway.do?"></add>
    <!--财付通-->
    <add key="switch_tenpay_form_url" value="https://gw.tenpay.com/gateway/pay.htm"></add>
    <!--环迅-->
    <add key="switch_ipspay_form_url" value="https://pay.ips.com.cn/ipayment.aspx"></add>

    <!--智付Key-->
    <add key="DinpayPrivateKey" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALx9FrG1dPvhE7HpwLihN51CgLDo0gn2mvPdoCikYBSwyalsy+GB/j57EDoOawzF12Lx3pmApMACAm0U5KrHuiE2y+dj0MQtluSxn5WNqgsXs07rDEoT17PqU0czA90dsiCGEaoelseu65VETYU+J40srMeOE9Hc8ObP+y1zfvRFAgMBAAECgYBs/QuNUDZHmrrvqhEk8RueVCDjqowg9LZegm0kcv+Xly3USLOPPsJLUI9ucn3V0eQcM20aZ3dcCw1qE6WxVnG52tI47GG1YqNbbXPMbP4x9qPoEKPBmrcl7szm6BViei1KmV7SE0YBwkJI0Y9lzsvXEDpJn2kr3xP+MOQ7QtCTdQJBAN0Anxo/Zlio/HJFlLS1P8ngZGTPTi51KuagJKEi/UM3hVZnDDOOVJkeqfYlL/vLXd2IetB3Wv14telg5N3Qu4cCQQDaVl3TnMV6q7Pp8K3S3YWPrW6JbZMfJWumCuCoDEuITnXguADWn8Jb+DprjJ9yaFvy956uJjNUZQ6+54nbKXzTAkEAufEf7BGTptznKa3pY/Frbgrh7P+Oo//ozInIx9qMg9Ve1kd1OJt0CjCGh5baPFvq6c0+p88EO2cohucDKK3KWQJBAMrfWzlIPxpXtsmVz/3RxcuV69KYVQ6ot5jGHK8pFXnm5ZLThjvmoDLSuH28YV9t5pohSXkpl6JAcG4kOCzDJO8CQHcm3tHS/UP1HV4bO867GEQ25/WWvMYJWCKDjLjCcZejEPk8n5BAjNBS8jZhGJlJpylSqxm35ZDdkHkN8x7xIa4="/>
    <add key="DinpayPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3F9D1HbFfgH/+4t240skrYBMiytlsrhlL3XWQbPAuL5Gi+vJMVbpFO4vSvDAn4Hj7cDGXKmg31FHxlv9qmFAURaTwd4jvbU/wkq37BxbaoUJgwe3ma8rk+aiFdkx5S/LXUz6+Of+ht+H6N8UW/UnhVrt8MIq44W1wn5unAE8YBwIDAQAB"/>

    <!--轻易付Key-->
    <add key="QyfPayMD5Key" value="9FD785C3499D0022A3176F7CF517F6C1"/>
    <add key="QyfPayPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCdv4Gse2VbyrGWZo2CrqUZsWiZZwCVFX6x2pIG3kk05uIkwDv441F2mwIpoZVIclIVBDozuuvlQ8oCzEHdRLkKj93J5fACrQMpdaLhmn1lmWPXHvWIWUSliLCzvNK8CgCK8+PbUI072trJOzFokk8SUD1HghC9+D/SSDdsr5deSwIDAQAB"/>
    <add key="QyfDaiPayPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCToYui83TeYx9R/SiZk7z8mp6OkwYfKT8DofwAetb6I4jQIFz0t4xnxHcnGTpczMZAZaUIfw7V3lLDfrW+vJYipk7gxQXW4zKXOmF5dUYWEWnhXGJDCTZBlDY+77Diog+GFt7YHHICl23tCL0rvTsqpIK3dNGwdK7SEyCVsSUPYQIDAQAB"/>
    <add key="QyfPrivateKey" value="MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAKIfb1j63x+85wcp427IT7hUWAP8CaXTBQ0vLYGr61Rxy1qSJybSR0x6PBK/v+jtzGHcQ+pWmHE6XGlAVnrvNuoWqR0N02cbef15LfsIvSbuma2wsmCKV53JK3v4Oe56BPQXy9J8oK7HXQqrq86+nTGZZsRw4aN7uwobq9tGv9KRAgMBAAECgYBLd4ySg/1XPczhVctr50zMxl5ORIWNLmSclYh+YzPhlDMQDxawiJPt8ryCEcZYvFE2gJ0QuYyusHcR+4QGJ9KMeYFXlEgTqrD0NrB0noa85osULNSkwbsrBKsTFgvh/lV4Zt0kZI1CdhdqgKpK9LWVZYUZ/5hHOKQokrXA7zpeAQJBANN6CT8FQl2V/8kpnD4qF9o84QGaVhJrF32b1faCfhzaAFQDJ2/h/JzKhMVYjY4NUTPu3sasWsdnDsRNQufoPuECQQDEQV7DlrOCMk9Oc6F8u1OCj2CpJVYl/WKfy11Tps59YQESJ/OhbcBUBwjF6zyQ4jrhl2tx6l/dnHL68U6b9HmxAkAXY1fCcIJ2dzBivwdYmK8qo7D+zGLYhp+CdMmlCamI51NB91dVOFkHvh4Q9Uoye6aPZ8ubjVQ82Vj4vNK5cyYBAkBG5wsShJaT2hM216WnB5JzH9OfKGMIVJPWAUXVW/VL7MjTQ2XMk3chpGzx/DukaGc3a1ohDLjXupb7vERXKarxAkB4kHUtn1CBwAogBL+o6k55wQlAk+jVxawSjoCay6sk0DnjTLfzvNUk7OomKQQE3ieM7dbS2F8Md81Ir9opQbQT"/>

    <!--多得宝Key-->
    <add key="DdbillPrivateKey" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKB0Kde8zAzd9OFvu1/NlU/Gg/eObQiSi8U4qIy+m5KUGP2OCSv0q9V4ILOIHgUXNWlYh5lu99qUePmq+UXJORitW3YsZFE5nCKlTH4dLamxzPKRDrDqmrT2/9GCiX5oA9fLEsEKa1I4EppMbIIJ8JqdVXj+E3jvZRmU5YUCoOMRAgMBAAECgYBytlnr2Rhw4oZeXckyFwJ2hFB4viSJimvO1lD6PpNu2d579/3qpQPsm/OVJu1/ajZPWHGpakJczOUoaenI0LG2JpO4eo70xs/VOpXTGSkUm2QuZUAHpl8tFGrcKD7IIX8wdLIyxVaDTr9F/fPiX50MWd77b0V2jLrkBDFbiEbXgQJBANXZflE/D9pu364OAVRSvYuT9bmU+43lmwHKyg8Jb4rKVr5HyrQ/n50vYwAqf2PF8DzB6f3KPLPoPp9qpGnJb5kCQQDAFGcWDyF0Ie3yc7puuUGDSdE406X2h7uwH5jWGvyrEiHh6NSHfZ46qs3L50QebXoSiQ+d/N0QLIXQ/EAP7Zo5AkEA0b3NzLYDQIQ6UqZd22yDh6CJA4oB57xo+asB3xmsEv49ccdMItm8HRjbCtCjvSHobE7sxwRR4UpKEWUw+KifEQJANy9lcqwEM4ZwA8GGJbup+9tgdhAw1YSnwvFBCvqT7151R5+KOCc6J6bdG6ElLAzODrc8Omrk5Hm2NJXUnf7o2QJBALx3ldWSllfmYBg7pB834bELQpwhlo62DALKVuu1jK/M2NYGJMHXf1Oa7WbEHw4o8gozYTryv0hLXAeFWbE92AQ="/>
    <add key="DdbillPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJtiq+2wr3plBYHYYP+VGfXnatLiXOjlKVx/gQgXXwr7/DYdPY2jCXUZB2pKix94PpJ8JUIeVKxHjBTVdmb0VoGTmZ9Cc4b/0JA2WqEAxkFTNO64MVgRSzL5AeH1ZYSaxT1Z5KKFCkztZZd1qZbyzGIaR/x8GZY7Xa0XLue4vCewIDAQAB"/>
    
  </paymentSettings>
  <TransactionSettings>
    <!--最小交易金额-->
    <add key="mintransactionamount" value="0.01"></add>
    <!--最大交易金额-->
    <add key="maxtransactionamount" value="10000"></add>
    <!--订单缓存时间 单位秒 10分-->
    <add key="orderCacheExpiresTime" value="600"></add>
  </TransactionSettings>
  <mongodb>
    <add key="connStr" value="mongodb://lj:lj@127.0.0.1:2012"></add>
    <add key="defaultdb" value="viviapi"></add>
    <add key="collectionName" value="bankorders"></add>
  </mongodb>
  <MSMQ>
    <!--网银订单队列-->
    <add key="BankOrderPath" value=".\private$\bankorder"></add>
    <!--网银订单结果异步通知队列-->
    <add key="BankNotifyPath" value=".\private$\banknotify"></add>
    <!--卡类订单队列-->
    <add key="CardOrderPath" value=".\private$\cardorder"></add>
    <!--卡类订单结果异步通知队列-->
    <add key="CardNotifyPath" value=".\private$\cardnotify"></add>
    <!--短信订单队列-->
    <add key="SmsOrderPath" value=".\private$\smsorder"></add>
    <!--短信订单结果异步通知队列-->
    <add key="SmsNotifyPath" value=".\private$\smsnotify"></add>
    <!--实现MSMQ对队的程序集-->
    <add key="OrderMessaging" value="viviapi.MSMQMessaging"></add>
    <!-- Batch Processing options -->
    <add key="ThreadCount" value="2" />
    <add key="BatchSize" value="10" />
    <add key="QueueTimeout" value="20" />
    <add key="TransactionTimeout" value="30" />
    <!-- Batch Processing options -->
    <add key="NotifyThreadCount" value="2" />
    <add key="NotifyBatchSize" value="10" />
    <add key="NotifyQueueTimeout" value="20" />
    <add key="NotifyTransactionTimeout" value="30" />
  </MSMQ>
  <logSettings>
    <add key="ExceptionLogEnabled" value="true" />
    <add key="ScheduledTaskLogEnabled" value="true" />
    <add key="SMSLogEnabled" value="true" />
  </logSettings>
  <!--<scheduledTaskConfiguration>
    <scheduledTask ScheduledTaskType="viviapi.WebComponents.ScheduledTask.IntervalTask, viviapi.WebComponents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=03403be00e338d8b" ThreadSleepSecond="60">
      <execute type="viviapi.BLL.Order.Card.TaskInterval, viviapi.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=03403be00e338d8b"></execute>
      <execute type="viviapi.BLL.Order.Bank.TaskInterval, viviapi.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=03403be00e338d8b"></execute>
      <execute type="viviapi.ETAPI.Base.TaskInterval, viviapi.ETAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=03403be00e338d8b"></execute>
    </scheduledTask>
  </scheduledTaskConfiguration>-->
</configuration>
