.dataTable-wrapper {
    position: relative;
    *zoom: 1
}

table.dataTable thead th {
    cursor: pointer;
    *cursor: hand
}

table.dataTable thead th {
    vertical-align: middle
}

table.dataTable tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid black;
    font-weight: bold
}

table.dataTable td.center, table.dataTable td.dataTables_empty {
    text-align: center
}

table.dataTable tr.odd {
    background-color: #fff
}

table.dataTable tr.even {
    background-color: #f0f5fb
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #d3d6ff
}

table.dataTable tr.odd td.sorting_2 {
    background-color: #dadcff
}

table.dataTable tr.odd td.sorting_3 {
    background-color: #e0e2ff
}

table.dataTable tr.even td.sorting_1 {
    background-color: #eaebff
}

table.dataTable tr.even td.sorting_2 {
    background-color: #f2f3ff
}

table.dataTable tr.even td.sorting_3 {
    background-color: #f9f9ff
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: #fff
}

.sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px !important
}

.sorting {
    /*background-image: url(../images/sorting.png)*/
}

.sorting_asc {
    /*background-image: url(../images/sorting_asc.png)*/
}

.sorting_desc {
    /*background-image: url(../images/sorting_desc.png)*/
}

.sorting_asc_disabled {
    /*background-image: url(../images/sorting_asc_disabled.png)*/
}

.sorting_desc_disabled {
    /*background-image: url(../images/sorting_desc_disabled.png)*/
}

table.dataTable thead th:active, table.dataTable thead td:active {
    outline: 0
}

.dataTables_scroll {
    clear: both
}

.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch
}

.bottom:before, .bottom:after {
    display: table;
    content: ""
}

.bottom:after {
    clear: both
}

.bottom {
    text-align: center;
    *zoom: 1
}

.dataTables_info {
    float: left
}

.dataTables_length {
    float: right
}

.dataTables_length label select {
    width: 60px
}

.dataTables_paginate {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1
}

.dataTables_paginate a {
    display: inline-block;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0
}

.dataTables_paginate a:hover {
    background-color: #e2e4ff
}

.paginate_button {
    cursor: pointer
}

.paginate_active {
    background-color: #f0f5fb
}

.dataTables_paginate span {
    *vertical-align: top
}

.dataTables_paginate .first {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.dataTables_paginate .last {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.pagination {
    height: 36px;
    margin-top: 18px;
    text-align: center;
    *zoom: 1
}

.pagination:before, .pagination:after {
    display: table;
    content: "";
    line-height: 0
}

.pagination:after {
    clear: both
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    letter-spacing: -4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
}

.pagination ul li {
    letter-spacing: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.pagination ul li a, .pagination ul li span {
    display: inline-block;
    padding: 9px 14px;
    height: 16px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0
}

.pagination ul li a:hover, .pagination ul li span:hover {
    background-color: whiteSmoke
}

.pagination ul li.active a {
    background-color: whiteSmoke;
    color: #999;
    cursor: default
}

.pagination ul li.forward a {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    border-left-width: 1px
}

.pagination ul li.backward a {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    border-right-width: 1px
}

.pagination ul li.disabled span, .pagination ul li.disabled a {
    color: #999;
    background-color: transparent;
    cursor: default
}

.pagination ul li.disabled span:hover, .pagination ul li.disabled a:hover {
    color: #999;
    background-color: transparent;
    cursor: default
}

.pagination .pagination-info, .pagination .pagination-length {
    margin-bottom: 0;
    margin-top: 6px;
    *margin-top: 0
}

.pagination .pagination-info label, .pagination .pagination-length label {
    line-height: 28px
}

.pagination .pagination-info {
    float: left
}

.pagination .pagination-info select {
    width: 60px
}

.pagination .pagination-length {
    float: right
}

.pagination .pagination-length select {
    width: 60px
}

.pagination-left {
    text-align: left
}

.pagination-left .pagination-info {
    float: right
}

.pagination-right {
    text-align: right
}

.pagination-right .pagination-length {
    float: left;
    margin-right: 15px
}

.tablePageBar:before, .tablePageBar:after {
    display: table;
    content: ""
}

.tablePageBar:after {
    clear: both
}

.tablePageBar {
    text-align: center;
    *zoom: 1
}

.tableListR {
    float: right
}

.tableListL {
    float: left
}

.tablePageBar ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tablePageBar ul #Pagination {
    margin: 0;
    letter-spacing: -4px
}

.tablePageBar ul #Pagination a, .tablePageBar ul #Pagination span {
    display: inline-block;
    padding: 0 14px;
    line-height: 34px;
    height: 34px;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0;
    letter-spacing: 0
}

.tablePageBar ul #Pagination .prev {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
    background-color: #fff !important
}

.tablePageBar ul #Pagination .next {
    border-radius: 0 2px 2px 0
}

.tablePageBar ul #Pagination .current {
    background-color: #f2f2f2;
    color: #999
}

.order-table-inf .alert {
    text-align: left
}

.tablePageBar:before, .tablePageBar:after {
    display: table;
    content: ""
}

.tablePageBar:after {
    clear: both
}

.tablePageBar {
    text-align: center;
    *zoom: 1
}

.tableListR {
    float: right
}

.tableListL {
    float: left
}

.tablePageBar ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tablePageBar ul #Pagination {
    margin: 0;
    letter-spacing: -4px
}

.tablePageBar ul #Pagination a, .tablePageBar ul #Pagination span {
    display: inline-block;
    padding: 0 14px;
    line-height: 34px;
    height: 34px;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0;
    letter-spacing: 0
}

.tablePageBar ul #Pagination .prev {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
    background-color: #fff !important
}

.tablePageBar ul #Pagination .next {
    border-radius: 0 2px 2px 0
}

.tablePageBar ul #Pagination .current {
    background-color: #f2f2f2;
    color: #999
}