body
{
	font-size: 12px;
	color: #02418a;
	font-family: ו,fantasy;
	margin-top: 0px;
	margin: 0px;
}
.style1
{
	color: #990000;
}
.style2
{
	color: #FFFFFF;
}
.style3
{
	color: #FF0000; /*000000;*/
}
td
{
	font-size: 11px;
	text-decoration: none;
	height: 16px;
	font-family: Arial;
	text-align: left;
	text-indent: 3px;
}
.top_tel
{
	font-weight: bold;
	font-size: 14px;
	color: #cf0909;
}
.top_menu
{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}
.top_menu A
{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.top_menu A:hover
{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	text-decoration: underline;
}
.top_menu
{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}
.main_a1_text1
{
	font-weight: bold;
	font-size: 12px;
	color: #e9e9e9;
	line-height: 25px;
}
.main_a1_text2
{
	font-weight: bold;
	font-size: 14px;
	color: #e9e9e9;
}
.main_a1_text3
{
	font-size: 12px;
	color: #a2a2a2;
	text-decoration: underline;
}
.main_a1_text3 A
{
	font-size: 12px;
	color: #a2a2a2;
	text-decoration: underline;
}
.main_a1_text3 A:hover
{
	font-size: 12px;
	color: #ffffff;
	background-color: #a2a2a2;
	text-decoration: none;
}
.main_a1_bottom
{
	border-right: medium none;
	border-top: medium none;
	font-weight: bold;
	font-size: 12px;
	border-left: medium none;
	width: 70px;
	color: #ffffff;
	border-bottom: medium none;
	height: 20px;
}
.main_b1_text1
{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}
.main_b1_text2
{
	font-weight: bold;
	font-size: 10px;
	color: #ffd800;
}
.main_b2_text1
{
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
.main_b2_text2
{
	font-size: 12px;
	color: #ffffff;
}
.main_c1_text1
{
	font-weight: bold;
	font-size: 14px;
	color: #e0e0e0;
}
.main_c1_text2
{
	padding-left: 5px;
	font-size: 12px;
	color: #000000;
	line-height: 30px;
	border-bottom: #b7b7b7 1px dashed;
}
.main_c1_text2 A
{
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.main_c1_text2 A:hover
{
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.main_d2_text1
{
	padding-left: 5px;
	font-size: 12px;
	color: #000000;
	line-height: 28px;
}
.main_d2_text1 A
{
	font-weight: bold;
	font-size: 12px;
	color: #ff5400;
	text-decoration: none;
}
.main_d2_text1 A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	background-color: #ff5400;
	text-decoration: none;
}
.main_d2_text2
{
	font-size: 12px;
	background-image: url(../images/main_d2_4.gif);
	color: #ffffff;
}
.main_d2_text2 A
{
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.main_d2_text2 A:hover
{
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.main_d2_text2_x
{
	font-weight: bold;
	font-size: 12px;
	background-image: url(../images/main_d2_5.gif);
	color: #ffffff;
}
.main_d2_text2_x A
{
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.main_d2_text2_x A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.main_e1_text1
{
	font-size: 12px;
	color: #535353;
	line-height: 20px;
}
.main_e1_text1 A
{
	font-size: 12px;
	color: #535353;
	text-decoration: none;
}
.main_e1_text1 A:hover
{
	font-size: 12px;
	color: #535353;
	text-decoration: underline;
}
.footer_text
{
	font-weight: bold;
	font-size: 12px;
	color: #838383;
	line-height: 25px;
}
.footer_text A
{
	font-weight: bold;
	font-size: 12px;
	color: #838383;
	text-decoration: none;
}
.footer_text A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #838383;
	text-decoration: underline;
}
.reg_menu_text1
{
	font-weight: bold;
	font-size: 14px;
	color: #676767;
	border-bottom: #a3a3a3 1px solid;
}
.reg_menu_text1 A
{
	font-weight: bold;
	font-size: 14px;
	color: #676767;
	text-decoration: none;
}
.reg_menu_text1 A:hover
{
	font-weight: bold;
	font-size: 14px;
	color: #676767;
	text-decoration: underline;
}
.reg_menu_text2
{
	border-right: #a3a3a3 1px solid;
	border-top: #a3a3a3 1px solid;
	font-weight: bold;
	font-size: 14px;
	border-left: #a3a3a3 1px solid;
	color: #cf090a;
	background-color: #eeeeee;
}
.reg_menu_text2 A
{
	font-weight: bold;
	font-size: 14px;
	color: #cf090a;
	text-decoration: none;
}
.reg_menu_text2 A:hover
{
	font-weight: bold;
	font-size: 14px;
	color: #cf090a;
	text-decoration: underline;
}
.reg_input1
{
	border-right: #a8a8a8 1px solid;
	border-top: #a8a8a8 1px solid;
	border-left: #a8a8a8 1px solid;
	border-bottom: #a8a8a8 1px solid;
}
.reg_input2
{
	border-right: #a59a6d 1px solid;
	border-top: #a59a6d 1px solid;
	border-left: #a59a6d 1px solid;
	width: 120px;
	border-bottom: #a59a6d 1px solid;
	height: 22px;
	background-color: #fffdf6;
}
.reg_text3
{
	font-weight: bold;
	font-size: 14px;
	color: #353535;
}
.list_list_text1
{
	font-weight: bold;
	font-size: 12px;
	color: #505050;
}
.list_list_text1 A
{
	font-weight: bold;
	font-size: 12px;
	color: #505050;
	text-decoration: none;
}
.list_list_text1 A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #505050;
	text-decoration: underline;
}
.list_list_text2
{
	font-weight: bold;
	font-size: 14px;
	color: #d00a0b;
}
.list_list_text2 A
{
	font-weight: bold;
	font-size: 14px;
	color: #004eba;
	text-decoration: none;
}
.list_list_text2 A:hover
{
	font-weight: bold;
	font-size: 14px;
	color: #004eba;
	text-decoration: underline;
}
.list_list_text3
{
	font-weight: bold;
	font-size: 14px;
	color: #3b3b3b;
}
.list_list_text3 A
{
	font-weight: bold;
	font-size: 14px;
	color: #3b3b3b;
	text-decoration: none;
}
.list_list_text3 A:hover
{
	font-weight: bold;
	font-size: 14px;
	color: #3b3b3b;
	text-decoration: underline;
}
#article_content_title
{
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
	color: #cf090a;
	padding-top: 10px;
	text-align: center;
}
#article_content
{
	font-size: 14px;
	padding-bottom: 5px;
	color: #383838;
	line-height: 25px;
	text-align: left;
}
.article_list
{
	padding-left: 2px;
	font-weight: bold;
	font-size: 12px;
	color: #383838;
}
.article_list A
{
	font-weight: bold;
	font-size: 12px;
	color: #383838;
	text-decoration: none;
}
.article_list A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #383838;
	text-decoration: underline;
}
INPUT.reg
{
	border-right: #a7a6aa 1px solid;
	padding-right: 8px;
	border-top: #a7a6aa 1px solid;
	padding-left: 3px;
	font-size: 14px;
	background: #fff no-repeat right bottom;
	padding-bottom: 0px;
	border-left: #a7a6aa 1px solid;
	width: 50px;
	padding-top: 2px;
	border-bottom: #a7a6aa 1px solid;
	height: 20px;
}
.sign_intro
{
	font: 12px arial,sans-serif;
	margin-left: 5px;
	color: #666;
}
.sign_wrong
{
	padding-left: 24px;
	background: url(/images/ico_wrong.gif) no-repeat 5px 0px;
	color: #f00;
}
.sign_right
{
	padding-left: 24px;
	background: url(/images/ico_right.gif) no-repeat 5px 0px;
	color: #3e932b;
}
.regsubmit
{
	background-attachment: fixed;
	width: 10px;
	height: 32px;
}

.login_0
{
	border-right: #fff 1px solid;
	border-top: #FFFFFF 1px solid;
	font-size: 12px;
	background: #fff;
	border-left: #FFFFFF 1px solid;
	width: 55px;
	cursor: hand;
	border-bottom: #FFFFFF 1px solid;
	height: 22px;
}
.newsconn
{
	border-right: #666666 1px;
	border-top: #666666 1px;
	font-size: 9pt;
	border-left: #666666 1px;
	color: #02418a;
	line-height: 20px;
	border-bottom: #666666 1px dotted;
	font-family: tahoma,ו,fantasy;
}
.newsconn A:visited
{
	color: #02418a;
	text-decoration: none;
}
.newsconn A:link
{
	color: #02418a;
	text-decoration: none;
}
.zyads_message
{
	clear: both;
	border-right: #86b9d6 1px solid;
	padding-right: 1px;
	border-top: #86b9d6 1px solid;
	margin-top: 10px;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: #86b9d6 1px solid;
	padding-top: 1px;
	border-bottom: #86b9d6 1px solid;
	background-color: #fff;
}
.Messageheader
{
	font-weight: bold;
	background-image: url(../images/top_bg0.gif);
	padding-bottom: 0px;
	text-indent: 10px;
	padding-top: 7px;
	height: 30px;
}
.colorhover
{
	border-right: blue 1px solid;
	border-top: blue 1px solid;
	display: block;
	margin-left: 4px;
	border-left: blue 1px solid;
	width: 20px;
	cursor: pointer;
	border-bottom: blue 1px solid;
	height: 16px;
}
.p_bar
{
	clear: both;
	margin: 1px 0px;
}
.p_bar A
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 12px;
	float: left;
	padding-bottom: 1px;
	padding-top: 1px;
	text-decoration: none;
}
.p_input
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: 0px;
	width: 40px;
	padding-top: 0px;
	border-bottom: 0px;
	height: 18px;
}
.p_total
{
	border-right: #86b9d6 0px solid;
	border-top: #dedeb8 1px solid;
	font-weight: bold;
	border-left: #dedeb8 1px solid;
	border-bottom: #dedeb8 1px solid;
}
.p_pages
{
	border-right: #dedeb8 1px solid;
	border-top: #dedeb8 1px solid;
	font-weight: bold;
	vertical-align: middle;
	border-left: #dedeb8 1px solid;
	margin-right: 1px;
	border-bottom: #dedeb8 1px solid;
}
.p_num
{
	border-right: #dedeb8 1px solid;
	border-top: #dedeb8 1px solid;
	vertical-align: middle;
	border-left: #dedeb8 1px solid;
	margin-right: 1px;
	border-bottom: #dedeb8 1px solid;
}
A.p_num:hover
{
	border-right: #86b9d6 1px solid;
	border-top: #86b9d6 1px solid;
	border-left: #86b9d6 1px solid;
	border-bottom: #86b9d6 1px solid;
	text-decoration: none;
}
.p_redirect
{
	border-right: #dedeb8 1px solid;
	border-top: #dedeb8 1px solid;
	font-size: 13px;
	border-left: #dedeb8 1px solid;
	margin-right: 1px;
	border-bottom: #dedeb8 1px solid;
}
A.p_redirect:hover
{
	border-right: #86b9d6 1px solid;
	border-top: #86b9d6 1px solid;
	border-left: #86b9d6 1px solid;
	border-bottom: #86b9d6 1px solid;
	text-decoration: none;
}
.p_curpage
{
	border-right: #dedeb8 1px solid;
	border-top: #dedeb8 1px solid;
	font-weight: bold;
	vertical-align: middle;
	border-left: #dedeb8 1px solid;
	color: #92a05a;
	margin-right: 1px;
	border-bottom: #dedeb8 1px solid;
}
.main_a1_text1
{
	font-weight: bold;
	font-size: 12px;
	color: #e9e9e9;
	line-height: 25px;
}
.main_a1_text2
{
	font-weight: bold;
	font-size: 14px;
	color: #e9e9e9;
}
.main_a1_text3
{
	font-size: 12px;
	color: #a2a2a2;
	text-decoration: underline solid;
	border-bottom: #c9ddf0 1px solid;
	background-color: White;
}
.space
{
	width: 20px;
}
.tdTit_h
{
	padding-left: 5px;
	font-size: 12px;
	height: 25px;
	background-color: #FFF9EF;
	font-weight: bold;
}
.webuser_menu_box
{
	line-height: 28px;
	background-color: #C44E08;
	height: 28px;
	overflow: hidden;
}
.webuser_menu_box li
{
	float: left;
	width: 90px;
	text-align: center;
	background-image: url(../Images/user_nav_li_line.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.webuser_menu_box li a
{
	color: #FFFFFF;
	display: block;
	width: 100%;
	text-decoration: none;
}
.webuser_menu_box li a:hover
{
	color: #FFFF00;
	text-decoration: underline;
}
.mid
{
	vertical-align: middle;
}
.inp1
{
	font-size: 12px;
	line-height: 18px;
	color: #000;
	overflow: hidden;
	height: 18px;
	border: 1px solid #cccccc;
	text-indent: 2px;
	font-family: tahoma,ו,fantasy;
}
.login_but
{
	font-size: 12px;
	line-height: 24px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	overflow: hidden;
	height: 23px;
	width: 69px;
	color: #fb6808;
	background-image: url(/css/login_but.gif);
	background-repeat: no-repeat;
	cursor: pointer;
}
input
{
	background: #FAFAFA;
	border: #bdc5ca 1px solid;
	padding: 2px;
	font-size: 12px;
}
.button
{
	font-size: 9pt;
	height: 20px;
	border-width: 1px;
	cursor: hand;
	background: url(images/cxbg.gif);
}
.qx
{
	border: 0px solid #bdc5ca;
	padding: 0px;
}
