
/* CSS Document */
@charset "utf-8";
* {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
textarea {
outline: none;
}
texearea {
resize:none;
}
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width:100%;

	background: url../images/body_bg.jpg) repeat;

	background: url(../images/body_bg.jpg) repeat;
}
img {
	border:none;
}
.clear {
	clear: both;
}
ul {
	padding: 0;
}
a {
	color:#666666;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#000000;
}
.top{width:100%; height:41px; background:#008fb1;}

.top_c{width:970px; margin-left:auto; margin-right:auto; height:41px; background:url../images/uc_top_bg.jpg) repeat-y; position:relative; top:0px; left:0px; z-index:0px } 

.top_c{width:970px; margin-left:auto; margin-right:auto; height:41px; background:url(../images/uc_top_bg.jpg) repeat-y; position:relative; top:0px; left:0px; z-index:0px } 

.top_c_l{width:219px; float:left; margin-left:10px; height:41px; font-size:14px; color:#FFFFFF; line-height:41px;}
.top_c_l a{color:#FFF;}
.top_c_l span{color:#ffff00; font-weight:bold;}
.top_c_r{width:308px; height:41px; float:right; line-height:41px;color:#fff; font-size:14px; }
.top_c_r a{color:#fff;}

.top_c_r a.news{background:url../images/logout-icon.png) 0px 3px no-repeat ; padding-left:20px;}

.top_c_r a.news{background:url(../images/logout-icon.png) 0px 3px no-repeat ; padding-left:20px;}

.new_msg{width:177px; height:56px; background:#f8f8d6; border:1px solid #f8df8b; position:absolute; left:764px; top:46px; z-index:1; overflow:hidden}
.new_msg_close{width:9px; height:6px; position:relative; left:165px; top:5px; cursor:pointer; z-index:100;}
.new_msg p{line-height:20px; padding-left:10px; color:#59575a; position:relative}
.new_msg p a{color:#ff630d;}

.header{width:100%; height:118px; background:url../images/uc_header_bg.jpg) repeat-x;}

.header{width:100%; height:118px; background:url(../images/uc_header_bg.jpg) repeat-x;}

.header_c{width:970px; margin-left:auto; margin-right:auto; height:118px;}
.logo{width:169px; height:118px; float:left; text-align:center;vertical-align:middle;}
.server{width:801px; height:58px; float:left;  overflow:hidden}
.user_f_d_c .red{font-size:12px; font-weight:normal;}

.user_top_nav{width:801px; height:60px; background: url../images/user_top_nav.png) no-repeat; float:left;}

.user_top_nav{width:801px; height:60px; background: url(../images/user_top_nav.png) no-repeat; float:left;}

.user_top_nav ul{margin-left:195px;}
.user_top_nav ul li{ width:89px; height:52px; float:left; margin-top:9px; text-align:center; margin-right:40px;}
.user_top_nav ul li a{ width:89px; height:52px; display:block; line-height:52px; font-size:14px; color:#333333}

.user_top_nav ul li a:hover{background:url../images/uc_top_ul_li_bg.png) no-repeat; color:#FFFFFF; font-size:14px; text-decoration:none }

.user_top_nav ul li a:hover{background:url(../images/uc_top_ul_li_bg.png) no-repeat; color:#FFFFFF; font-size:14px; text-decoration:none }

.uesr_content{width:970px; margin-left:auto; margin-right:auto;}
.uesr_content_l{width:169px; height:610px; float:left;}
.user_c_l_p{width:169px; }

.user_c_l_p h1{height:52px; line-height:43px; padding-top:8px; padding-left:21px; font-size:16px; color:#333; font-family:"微软雅黑"; background:url../images/user_c_l_p_h1.jpg) no-repeat;}

.user_c_l_p h1{height:52px; line-height:43px; padding-top:8px; padding-left:21px; font-size:16px; color:#333; font-family:"微软雅黑"; background:url(../images/user_c_l_p_h1.jpg) no-repeat;}

.user_c_l_p h1 img{ margin-top:12px; margin-right:10px; float:left}

.user_c_l_p ul{padding-left:49px;  background:url../images/user_c_l_p_ul.jpg) repeat-y;}

.user_c_l_p ul{padding-left:49px;  background:url(../images/user_c_l_p_ul.jpg) repeat-y;}

.user_c_l_p ul li{line-height:25px; font-size:14px;}

.user_c_r{ width:801px;  background:url../images/uc_c_r_bg.png) repeat-y; float:left}
.user_c_l_d{width:169px; height:6px; background:url../images/user_c_l_p_d.jpg) no-repeat; overflow:hidden;}

.user_c_r{ width:801px;  background:url(../images/uc_c_r_bg.png) repeat-y; float:left}
.user_c_l_d{width:169px; height:6px; background:url(../images/user_c_l_p_d.jpg) no-repeat; overflow:hidden;}

.user_c_r_info{width:781px; height:130px; padding-left:20px;}
.user_c_r_info_l{width:130px; width:559px; float:left;}

.user_pic{width:128px; height:126px; padding-left:4px; padding-top:4px; background:url../images/user_pic.png) no-repeat; float:left}
.user_namer{width:427px; height:42px;background:url../images/user_name_bg.png) no-repeat; float:left}

.user_pic{width:128px; height:126px; padding-left:4px; padding-top:4px; background:url(../images/user_pic.png) no-repeat; float:left}
.user_namer{width:427px; height:42px;background:url(../images/user_name_bg.png) no-repeat; float:left}

.user_namer h1{height:42px; width:176px; line-height:42px; font-size:12px; font-weight:normal; color:#fff; text-align:center; float:left}
.user_namer div{ height:32px; margin-left:190px;color:#999999; padding-top:10px;}
.user_namer div a{ color:#333;height:25px; display:block; width:75px; float:left; text-align:center; line-height:25px;  }
.user_namer div span{ width:30px; float:left;line-height:25px; text-align:center;}

.user_namer div a:hover{background:url../images/user_name_li.png) no-repeat; color:#FFFFFF; text-decoration:none;}

.user_namer div a:hover{background:url(../images/user_name_li.png) no-repeat; color:#FFFFFF; text-decoration:none;}

.user_c_r_info_l p {font-size:14px; color:#666666; line-height:30px; padding-left:14px; float:left; width:400px;}
.user_c_r_info_l p span{color:#da251d; font-weight:bold;}
.last_time{font-size:12px !important; color:#707070;}
.user_c_r_info_r{width:147px; height:92px; float:left; margin-top:30px;}

.user_c_r_info_r .time{width:147px; height:48px; background:url../images/time.png) no-repeat; text-align:center; line-height:48px; color:#c50304; font-size:14px;}
.lgz{width:147px; height:44px; display:block; background:url../images/ngz.png) no-repeat; line-height:44px; font-size:14px; font-weight:bold; text-align:center; color:#FFF}

.user_c_r_info_r .time{width:147px; height:48px; background:url(../images/time.png) no-repeat; text-align:center; line-height:48px; color:#c50304; font-size:14px;}
.lgz{width:147px; height:44px; display:block; background:url(../images/ngz.png) no-repeat; line-height:44px; font-size:14px; font-weight:bold; text-align:center; color:#FFF}

.lgz span{color:#090}
.user_input_content{width:730px; height:152px; margin:0 auto; margin-top:22px;}
.user_input_content-left{width:351px; height:150px; border:1px solid #dbd5d5; float:left;  background:#FFF}

.user_input_content-left h1{font-size:12px; width:339px; height:25px; line-height:20px; background:url../images/p-h-1.jpg) no-repeat; font-weight:normal; color:#FFF; padding-left:12px}

.user_input_content-left h1{font-size:12px; width:339px; height:25px; line-height:20px; background:url(../images/p-h-1.jpg) no-repeat; font-weight:normal; color:#FFF; padding-left:12px}

.user_input_content ul li{height:38px; line-height:40px; overflow:hidden; border-bottom:1px dashed #e8e8e8; color:#666666; padding-left:20px; padding-right:20px;}
.user_input_content ul {width:330px; margin-left:10px; margin-right:10px;}
.look{float:right; padding-right:15px; }
.look a{color:#0078a5;}
.span1{color:#0078a5; font-weight:bold}
.span2{color:#99cc00; font-weight:bold}
.span3{color:#ff0000; font-weight:bold}

.tx{width:50px; height:21px; float:right; display:block; background:url../images/tx.jpg) no-repeat; line-height:21px; text-indent:15px; margin-top:10px;}

.tx{width:50px; height:21px; float:right; display:block; background:url(../images/tx.jpg) no-repeat; line-height:21px; text-indent:15px; margin-top:10px;}

 .tx a{color:#FFF}
.m20{margin-left:23px;}
.look a:hover{text-decoration:underline; color:#F00}

.user_input{width:651px; height:96px; background:url../images/user_input.png) no-repeat; float:left; padding:10px;}

.user_input{width:651px; height:96px; background:url(../images/user_input.png) no-repeat; float:left; padding:10px;}

.user_input textarea{width:621px; height:96px; border:1px solid #fff; max-width:621px; max-height:96px; resize:none; font-size:12px; color:#616161; line-height:18px; overflow:auto;}
.tab-content{width:730px; height:288px; margin-left:auto; margin-right:auto; margin-top:20px;  }

.tab-content-menu{width:730px; height:36px; background:url../images/tab-content-menu.jpg) no-repeat}
.tab-content-menu ul li{width:106px; height:36px; background:url../images/tab-content-menu-li-bg.jpg) no-repeat; float:left; margin-left:10px; margin-right:20px; text-align:center; line-height:30px; color:#FFF; cursor:pointer}

.tab-content-menu{width:730px; height:36px; background:url(../images/tab-content-menu.jpg) no-repeat}
.tab-content-menu ul li{width:106px; height:36px; background:url(../images/tab-content-menu-li-bg.jpg) no-repeat; float:left; margin-left:10px; margin-right:20px; text-align:center; line-height:30px; color:#FFF; cursor:pointer}

.tab-content-box{width:728px; height:180px;  border:1px solid #e7e8ea; background:#FFF; border-top:0px}

.tab-content-menu ul li.select{background:url../images/tab-content-menu-li-select.jpg) no-repeat;}
.fb{width:72px; height:35px; display:block; float:left; background:url../images/fb2.png) no-repeat; text-indent:-9999px; margin-top:40px }
.fb:hover{background:url../images/fb.png) no-repeat;}

.tab-content-menu ul li.select{background:url(../images/tab-content-menu-li-select.jpg) no-repeat;}
.fb{width:72px; height:35px; display:block; float:left; background:url(../images/fb2.png) no-repeat; text-indent:-9999px; margin-top:40px }
.fb:hover{background:url(../images/fb.png) no-repeat;}

.user_f_d{width:779px; height:602px; margin-left:1px; margin-right:1px; background:#ffffff; padding-top:8px; padding-left:20px;}
.user_f_d_c{width:755px; height:auto; border:1px solid #157083;}
.user_f_d_cx{width:755px; height:auto; border-top:1px solid #e4e4e4;}
.user_f_d_cx_search{width:705px; height:auto; padding-left:30px;}
.user_f_d_cx_search .item{width:310px; height:20px; float:left; margin:5px 0px;}
.user_f_d_cx_search .item_time{width:510px; height:20px; float:left; margin:5px 0px;}
.user_f_d_c_t{width:755px; padding-top:15px; border-bottom:1px dashed #e7e7e7; padding-bottom:15px;}
.user_f_d_c_t h2{font-size:14px; color:#666666; font-weight:normal; line-height:25px; padding-left:30px;}
.user_f_d_c_t p{font-size:12pz; color:#F00; padding-left:50px; line-height:25px;}
.user_f_d_c h3{ font-size:14px; color:#666666; line-height:40px; padding-left:30px;}
.m10{margin-bottom:10px; border-bottom:1px dashed #CCCCCC; margin-left:10px; margin-right:10px;}
.f14{font-size:14px; display:block; width:150px; float:left; text-align:right}
.user_f_d_c .item{height:20px; margin-bottom:20px; padding-left:50px; line-height:20px;}
.user_f_d_c .item input{ padding-top:3px;}
.user_f_d_c .item label{width:90px; display:block; float:left; text-align:right}

.tab-content-box .item ul li{height:22px; line-height:22px; padding-left:30px; } 


.tab-content-box .item ul li{height:30px; line-height:30px; padding-left:30px; background:url../images/list_icon.jpg) no-repeat 20px 15px;} 

.tab-content-box .item ul li{height:30px; line-height:30px; padding-left:30px; background:url(../images/list_icon.jpg) no-repeat 20px 15px;} 


.tab-content-box .item ul li span{float:right; padding-right:10px;}

 .item  img{vertical-align:middle;}
.tab-content-box .item ul { height:180px; }
 .btn {padding-left:200px;}

 .btn input{width:62px; height:30px; background:url../images/btn-bg.png) 0px 4px no-repeat; border:none;  cursor:pointer; line-height:30px; color:#FFF; }

 .btn input{width:62px; height:30px; background:url(../images/btn-bg.png) 0px 4px no-repeat; border:none; line-height:30px; color:#FFF; }

 .btns{width:62px; float:left; padding-left:0px; padding-top:5px;}
 .red{color:#F00; }
 .green{color:#096;}
 .blue{color:Blue;}

 .red{color:#F00; }
 .green{color:#096;}
 .blue{color:Blue;}
  .dslist{border:1px solid #c9d3d5; border-bottom:0px;border-right:0px; margin-top:10px; margin-left:auto; margin-right:auto}
  .dslist tr th,  .dslist tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; padding:5px; line-height:19px; text-align:center }
  .dslist tr th,  .dslist tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; line-height:25px; text-align:center }

  .dslist tr th,  .dslist tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; line-height:19px; text-align:center; padding:5px}

  .dslist tr th{background:#edf7f8;}
  .cslist tr th,  .cslist tr td{ height:30px; text-align:center; color:#666;}
  .cslist tr th{background:#edf7f8;}
  
  .dslist_cr{border:1px solid #c9d3d5; border-bottom:0px;border-right:0px; margin-top:10px; margin-left:auto; margin-right:auto}
  .dslist_cr tr th,  .dslist_cr tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; padding:5px; line-height:19px; text-align:center }
  .dslist_cr tr th,  .dslist_cr tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; line-height:19px; text-align:center }
  .dslist_cr tr th{background:#edf7f8;}
  .cslist_cr tr th,  .cslist tr td{ height:30px; text-align:center; color:#666}
  .cslist_cr tr th{background:#edf7f8;}


.btns input{width:62px; height:21px; background:url../images/btn-bg-2.png) 0px 0px no-repeat; border:none; line-height:21px; color:#FFF; }

.btns input{width:62px; height:21px; background:url(../images/btn-bg-2.png) 0px 0px no-repeat; border:none; line-height:21px; color:#FFF; }

.user_f_d h1{font-size:12px; font-weight:normal; color:#676767; height:42px; line-height:30px; }
.user_f h1 span{float:right; font-size:14px; font-weight:normal; line-height:35px; margin-right:18px;}
.user_f h1 span a{color:#999999;}
.user_f_c{width:759px; height:164px; border:1px solid #e6e6e6; background:#f8f8f8; margin-top:10px;}
.user_f_c_p{width:170px; height:54px; float:left; margin-top:19px; margin-left:15px; display:inline}
.f_pic{width:52px; height:52px; float:left; display:block; border: 1px solid #e0e0e0;}
.f_pic img{border:none; margin:1px;}
.f_pic:hover{border:1px solid #188cb5;}
.f_info{width:107px; height:54px; margin-left:58px;}
.f_info h2 span{float: right; margin-right:10px;}
.f_info h2 {font-size:14px; font-weight:normal; height:17px;}
.f_info h2 a {color:#0f7094}

.gz{width:43px; height:17px; font-size:12px; color:#fff !important; background:url../images/gz.jpg) no-repeat; display:block; text-indent:15px; line-height:17px;}
.gz:hover{background:url../images/gz_2.jpg) no-repeat; text-decoration:none}

.gz{width:43px; height:17px; font-size:12px; color:#fff !important; background:url(../images/gz.jpg) no-repeat; display:block; text-indent:15px; line-height:17px;}
.gz:hover{background:url(../images/gz_2.jpg) no-repeat; text-decoration:none}

.f_info p{line-height:18px;}
.f_info p span{color:#fd8002;}
.c666666{color:#666666;}
.c999999{color:#999999}

.user_c_d{width:801px; height:9px; overflow:hidden; background:url../images/user_c_d.jpg) no-repeat;  margin-left:168px;}

.user_c_d{width:801px; height:9px; overflow:hidden; background:url(../images/user_c_d.jpg) no-repeat;  margin-left:168px;}

.footer{width:100%; height:66px; background:#0091b4; margin-top:18px;}
.footer_t{width:980px; margin-left:auto; margin-right:auto;  color:#FFF;}
.footer_t_l {width:350px; float:left;line-height:66px; height:66px;}
.footer_t_r{width:277px; float:right;line-height:66px; height:66px;}
.footer_t_r a{color:#FFF; }
.footer_t_r a:hover{color:#FFFFFF; text-decoration:underline}

.page{text-align:center; line-height:22px; padding-top:10px;}


.page{text-align:center; padding-top :10px ;line-height:22px}

.page a {border:#333333 solid 1px; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:2px;}
.page a:hover{background:#D7E6EA; color:#0033CC; text-decoration:none; border:#3399CC solid 1px; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:2px}
.page span {border:#E3E3E3 solid 1px; background:#F5F5F5; color:#CCCCCC; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:2px;}


.page{text-align:center; padding-top:10px; line-height:22px}
.page a {border:#333333 solid 1px; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:2px;}
.page a:hover{background:#D7E6EA; color:#0033CC; text-decoration:none; border:#3399CC solid 1px; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:2px}
.page span {border:#E3E3E3 solid 1px; background:#F5F5F5; color:#CCCCCC; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:2px;}
 .dslist_cr{border:1px solid #c9d3d5; border-bottom:0px;border-right:0px; margin-top:10px; margin-left:auto; margin-right:auto}
  .dslist_cr tr th,  .dslist_cr tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; padding:5px; line-height:19px; text-align:center }
  .dslist_cr tr th,  .dslist_cr tr td{border-right:1px solid #c9d3d5;border-bottom:1px solid #c9d3d5; line-height:19px; text-align:center }
  .dslist_cr tr th{background:#edf7f8;}
  .cslist_cr tr th,  .cslist tr td{ height:30px; text-align:center; color:#666}
  .cslist_cr tr th{background:#edf7f8;}

