body {FONT-SIZE:12px;COLOR:#02418a;font-family:tahoma,ו,fantasy;margin-top:0px;margin:0px;}
a img,:link img,:visited img {border:0;}
#head {height:50px;width:950px;margin:0 auto;}
h1 {width:100px;float:left;padding-top:4px;padding-left:10px;}
/*Rules for DIV.Header*/
#Header{text-align:center;}
#Header ul,#Header li{margin:0;padding:0;list-style-type:none;}
#Header #HeadTop{margin:0 auto;padding:0;width:950px;text-align:left;}
#topnav {display:block;float:right;width:700px;font-size:11px;text-align:right;line-height:22px;margin-top:12px;padding-right:10px;height:25px;}
#topnav p {text-align:right;}
#topnav a,#topnav a:hover {font-size:12px;color:#000;text-decoration:underline;}
#topnav a:hover {text-decoration:underline;}

/* ChannelMenu */
body.MyHome #ChannelMenu{width:100%;}
body.MyHome #ChannelMenu .Shell{background:none;width:950px; margin:0 auto;}
body.MyHome #ChannelMenu  .Tab{background:none;}
#ChannelMenu{margin:0px auto 20px auto;clear:both;background:url(/user/Images/firstM_normal.gif) repeat-x 0 -36px;height:36px;width:950px;}
#ChannelMenu .Shell{background:url(/user/Images/firstM_normal.gif) no-repeat left top;}
#ChannelMenu .Tab,#ChannelMenu h2{background:url(/user/Images/firstM_normal.gif) no-repeat bottom right;width:100%;text-align:left;}
#ChannelMenu h2{margin:0;padding:0;}
#ChannelMenu h2 a{margin-top:6px;margin-left:30px;display:block;background:url(/user/Images/menuStat.gif) -10px 60px no-repeat;color:#000000;font-size:14px;width:140px;height:31px;line-height:31px;text-decoration:none;text-align:center;}
#ChannelMenu h2 a span{font-weight:bold;}
#ChannelMenu .Tab ul{margin:0;padding:0;margin-left:15px;list-style-type:none;}
#ChannelMenu .Tab ul li{float:left;padding:0;padding:0 7px 0 5px;background:url(/user/Images/vertical.gif) no-repeat right -50px; width:100px;}
#ChannelMenu .Tab ul li a{margin-top:5px;display:block;color:#FFFFFF;font-size:14px;font-weight:bold;height:27px;line-height:27px;text-align:center;text-decoration:none;}
#ChannelMenu .Tab ul li a span{padding:0px 20px;display:block;}
#ChannelMenu .Tab ul a:hover{background:url(/user/Images/menuStat.gif) no-repeat left top;}
#ChannelMenu .Tab ul a:hover span{background:url(/user/Images/menuStat.gif) no-repeat right -27px;}
#ChannelMenu .Tab ul li.Current a{margin-top:6px; background:url(/user/Images/menuStat.gif) no-repeat -10px -60px;color:#000000;font-size:14px;font-weight:bold;height:30px;line-height:30px;}
#ChannelMenu .Tab ul li.VipTrade{width:160px;}
#ChannelMenu .Tab ul li.VipMyAlipay{width:165px;}
#ChannelMenu .Tab ul li.MyAlipay{width:120px;}
* html #ChannelMenu .Tab ul li.VipTrade a span,* html #ChannelMenu .Tab ul li.VipMyAlipay a span{padding:8px 5px 5px 5px;}
#ChannelMenu .Tab ul li span img{margin-left:5px;margin-top:-2px;}
#ChannelMenu .Tab ul li.Current a:hover{background:url(/user/Images/menuStat.gif) -10px -60px no-repeat;}
#ChannelMenu .Tab ul li.Current a span,#ChannelMenu .Tab ul li.Current a:hover span{background:url(/user/Images/menuStat.gif) right -90px no-repeat; height:30px;}
#ChannelMenu h2 span,#ChannelMenu .Tab ul li.Current a span{display:block;background:url(/user/Images/menuStat.gif) -90px right no-repeat; height:30px;}
#ChannelMenu .Tab ul li a span,#ChannelMenu .Tab ul li.Current a span{font-size:14px;}
/* ProductMenu */
#ProductMenu{margin:-20px auto 20px auto;clear:both;background:url(/user/Images/secdM_normal.gif) 0px -37px repeat-x; height:37px;width:950px;}
#ProductMenu .Shell{background:url(/user/Images/secdM_normal.gif) no-repeat left top;}
#ProductMenu .Tab{background:url(/user/Images/secdM_normal.gif) no-repeat right bottom;width:100%;text-align:left;}
#ProductMenu .Tab ul{margin:0;padding:0pxpx;list-style-type:none;height:37px;overflow:hidden;margin-left:10px;}
#ProductMenu .Tab ul li{float:left;padding:8px 7px 0px 7px;display:block;background:url(/user/Images/vertical.gif) no-repeat left 13px;width:90px;margin-left:-1px;}
#ProductMenu .Tab ul li a{display:block;color:#666666;height:22px;line-height:22px;text-decoration:none;text-align:center;}
#ProductMenu .Tab ul li a span{padding:1px 2px 0px 2px;display:block;font-size:12px;}
#ProductMenu .Tab ul li a:hover{background:url(/user/Images/menuStat.gif) -10px -130px no-repeat; color:#FFFF00;}
#ProductMenu .Tab ul li a:hover span{background:url(/user/Images/menuStat.gif) right -152px no-repeat;}
#ProductMenu .Tab ul li a:hover{color:#FF7300;}
#ProductMenu .Tab ul li.Current a{background:url(/user/Images/menuStat.gif) -10px -175px no-repeat;color:#FFFFFF;}
#ProductMenu .Tab ul li.Current a span{background:url(/user/Images/menuStat.gif) right -197px no-repeat;}
#ProductMenu .Tab ul li.Current a:hover{background:url(/user/Images/menuStat.gif) -10px -175px no-repeat;color:#FFFF00;}
#ProductMenu .Tab ul li.Current a:hover span{background:url(/user/Images/menuStat.gif) right -197px no-repeat;}