<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtimeSettings>
    <add key="Sitedomain" value="http://www.changjpay.com"></add>
		<add key="CSSDomain" value="http://www.changjpay.com"/>
		<add key="SMSSN"  value="SDK-ZQ-QWKJ-0447"></add>
		<add key="SMSKEY" value="88888888"></add>
    <!--吉信通短信验证码接口-->
    <add key="JXTURL" value="http://service.winic.org/sys_port/gateway/"></add>
    <add key="SMUID" value="idaydayup"/>
    <add key="SMPWD"  value="yang1988"></add>
    <!--每日最多可以提现次数-->
		<add key="MaxDayToCashTimes" value="5"></add>        
    <add key="ConnectString" value="1joJN3iH1UukptWRrep21Cdeokngc2qpjObPiCLpoiMM97d7/ESTcTZikkMVcN40e56UxrSy35N7WAmlg4snH5jFESmNC+ml8vgAYv50NkM="></add>	
    <add key="WebDAL" value="viviapi.SQLServerDAL"/>
		<add key="OrdersDAL" value="viviapi.SQLServerDAL"/>
		<add key="ManagePagePath" value="Managements"/>
		<!-- Order processing options (Asynch/Synch) -->
		<add key="OrderStrategyAssembly" value="viviapi.BLL"/>
		<add key="OrderStrategyClass" value="viviapi.BLL.OrderBankSynchronous"/>
		<add key="OrderCardStrategyAssembly" value="viviapi.BLL"/>
		<add key="OrderCardStrategyClass" value="viviapi.BLL.OrderCardSynchronous"/>
		<add key="OrderSmsStrategyAssembly" value="viviapi.BLL"/>
		<add key="OrderSmsStrategyClass" value="viviapi.BLL.OrderSmsSynchronous"/>
		<!--扣量安全间隔时间-->
		<add key="DeductSafetyTime" value="10"/>
		<!--默认扣率-->
		<add key="CPSDrate" value="0"></add>
		<add key="firstpage" value=""></add>    
    <add key="UrlManagerConfigPath" value="/Configurations/urlmanagerconfiguration.config" />
    <add key="tocashsmsnotice" value="1"/>

    <!--销卡时间间隔(单位s)-->
    <add key="xiaoka_time_interval" value="1"/>
	</runtimeSettings>
	<paymentSettings>
    <add key="alipay_body" value="alipayOrderform"></add>
    <add key="alipay_subject" value="alipayOrderform"></add>
    <add key="KuaiQian_prikey_path" value="C:\certificate\tester-rsa.pfx"/>
    <add key="KuaiQian_pubkey_path" value="C:\certificate\99bill.cert.rsa.20140728.cer"/>
    <add key="Smscoms" value="1819,8518,6817,5318,5248,3325,25607,1415,aa63,2933,a*21,5318,5248"/>
    <add key="mengsmsarrCom" value="106618627|280606|1,10668282|531606|2,10665110|Cxap06|5,10665110|a68206|5,106611198|811606|2,106610989|686206|2,10660058|a*10606|2,106667890|s*10606|2,16836112|101606|20"></add>
    <add key="yisheng_buyer_realname" value="viviapi"></add>
    <add key="Gopay_userType" value="1"></add>    
	</paymentSettings>
	<TransactionSettings>
		<!--最小交易金额-->
		<add key="mintransactionamount" value="0.02"></add>
		<!--最大交易金额-->
		<add key="maxtransactionamount" value="10000"></add>
	</TransactionSettings>
	
	<MSMQ>
    <!--实现MSMQ对队的程序集-->
    <add key="OrderMessaging" value="viviapi.MSMQMessaging"></add>
		<!--网银订单队列-->
		<add key="BankOrderPath" value=".\private$\bankorder"></add>
		<!--网银订单结果异步通知队列-->
		<add key="BankNotifyPath" value=".\private$\banknotify"></add>
		<!--卡类订单队列-->
		<add key="CardOrderPath" value=".\private$\cardorder"></add>
		<!--卡类订单结果异步通知队列-->                                                           
		<add key="CardNotifyPath" value=".\private$\cardnotify"></add>
		<!--短信订单队列-->
		<add key="SmsOrderPath" value=".\private$\smsorder"></add>
		<!--短信订单结果异步通知队列-->
		<add key="SmsNotifyPath" value=".\private$\smsnotify"></add>
		<!-- Batch Processing options -->
		<add key="ThreadCount" value="2" />
		<add key="BatchSize" value="10" />
		<add key="QueueTimeout" value="20" />
		<add key="TransactionTimeout" value="30" />
		<!-- Batch Processing options -->
		<add key="NotifyThreadCount" value="2" />
		<add key="NotifyBatchSize" value="10" />
		<add key="NotifyQueueTimeout" value="20" />
		<add key="NotifyTransactionTimeout" value="30" />
	</MSMQ>
  <logSettings>
    <add key="ExceptionLogEnabled" value="true" />
    <add key="ScheduledTaskLogEnabled" value="true" />
    <add key="SMSLogEnabled" value="true" />
  </logSettings>
</configuration>
