<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <add key="zhipay_private_key" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALf/+xHa1fDTCsLYPJLHy80aWq3djuV1T34sEsjp7UpLmV9zmOVMYXsoFNKQIcEzei4QdaqnVknzmIl7n1oXmAgHaSUF3qHjCttscDZcTWyrbXKSNr8arHv8hGJrfNB/Ea/+oSTIY7H5cAtWg6VmoPCHvqjafW8/UP60PdqYewrtAgMBAAECgYEAofXhsyK0RKoPg9jA4NabLuuuu/IU8ScklMQIuO8oHsiStXFUOSnVeImcYofaHmzIdDmqyU9IZgnUz9eQOcYg3BotUdUPcGgoqAqDVtmftqjmldP6F6urFpXBazqBrrfJVIgLyNw4PGK6/EmdQxBEtqqgXppRv/ZVZzZPkwObEuECQQDenAam9eAuJYveHtAthkusutsVG5E3gJiXhRhoAqiSQC9mXLTgaWV7zJyA5zYPMvh6IviX/7H+Bqp14lT9wctFAkEA05ljSYShWTCFThtJxJ2d8zq6xCjBgETAdhiH85O/VrdKpwITV/6psByUKp42IdqMJwOaBgnnct8iDK/TAJLniQJABdo+RodyVGRCUB2pRXkhZjInbl+iKr5jxKAIKzveqLGtTViknL3IoD+Z4b2yayXg6H0g4gYj7NTKCH1h1KYSrQJBALbgbcg/YbeU0NF1kibk1ns9+ebJFpvGT9SBVRZ2TjsjBNkcWR2HEp8LxB6lSEGwActCOJ8Zdjh4kpQGbcWkMYkCQAXBTFiyyImO+sfCccVuDSsWS+9jrc5KadHGIvhfoRjIj2VuUKzJ+mXbmXuXnOYmsAefjnMCI6gGtaqkzl527tw="/>
    <add key="zhipay_public_key" value=""/>
    <add key="YinSheng_prikey_path" value="~/Certs/businessgate.cer"/>
    <add key="YinSheng_pubkey_path" value="~/Certs/szmall.pfx"/>
    <add key="Cache_Mark" value="A"/>
    <add key="userkey" value="f4632ed5d5c54fc482c4159a20181261"/>
    <add key="userid" value="3580"/>
    <add key="ModelCache" value="60"/>
    <add key="CacheMark" value="deshunsoft"/>
    <!--##########################【网页PC】#############################-->
    <add key="sdk.signCert.path" value="F:/CCC/acp_prod_sign.pfx"/>
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="000000"/>
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12"/>
    <!-- 加密证书路径 -->
    <add key="sdk.encryptCert.path" value="F:/ccc/acp_prod_enc.cer"/>
    <!-- 验签证书目录 -->
    <add key="sdk.validateCert.dir" value="F:/ccc/"/>
    <!-- 前台交易地址 -->
    <add key="sdk.frontTransUrl" value="https://gateway.95516.com/gateway/api/frontTransReq.do"/>
    <!--##########################以下为缴费产品的配置，其他产品接入时可无视#############################-->
    <!-- 前台交易地址 -->
    <add key="sdk.jf.frontTransUrl" value="https://gateway.95516.com/jiaofei/api/frontTransReq.do"/>
    <!-- 后台交易地址 -->
    <add key="sdk.jf.backTransUrl" value="https://gateway.95516.com/jiaofei/api/backTransReq.do"/>
    <!-- 交易状态查询地址 -->
    <add key="sdk.jf.singleQueryUrl" value="https://gateway.95516.com/jiaofei/api/queryTrans.do"/>
    <!-- 有卡交易地址 -->
    <add key="sdk.jf.cardRequestUrl" value="https://gateway.95516.com/jiaofei/api/cardTransReq.do"/>
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.jf.appRequestUrl" value="https://gateway.95516.com/jiaofei/api/appTransReq.do"/>
    <!--##########################【手机wap】#############################-->
    <!--##########################【网页PC】#############################-->
    <add key="sdk.signCert.path" value="F:/CCC/acp_prod_sign.pfx"/>
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="000000"/>
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12"/>
    <!-- 加密证书路径 -->
    <add key="sdk.encryptCert.path" value="F:/ccc/acp_prod_enc.cer"/>
    <!-- 验签证书目录 -->
    <add key="sdk.validateCert.dir" value="F:/ccc/"/>
    <!-- 前台交易地址 -->
    <add key="sdk.frontTransUrl" value="https://gateway.95516.com/gateway/api/frontTransReq.do"/>
    <!-- 后台交易地址 -->
    <add key="sdk.backTransUrl" value="https://gateway.95516.com/gateway/api/backTransReq.do"/>
    <!-- 交易状态查询地址 -->
    <add key="sdk.singleQueryUrl" value="https://gateway.95516.com/gateway/api/queryTrans.do"/>
    <!-- 文件传输类交易地址 -->
    <add key="sdk.fileTransUrl" value="https://filedownload.95516.com/"/>
    <!-- 批量交易地址 -->
    <add key="sdk.batTransUrl" value="https://gateway.95516.com/gateway/api/batchTrans.do"/>
    <!-- 有卡交易地址 -->
    <add key="sdk.cardRequestUrl" value="https://gateway.95516.com/gateway/api/cardTransReq.do"/>
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.appRequestUrl" value="https://gateway.95516.com/gateway/api/appTransReq.do"/>
    <!-- 前台通知地址，填写后台接收银联前台通知的地址 -->
    <add key="frontUrl" value="http://localhost:8080/demo/api_11_jf/FrontRcvResponse.aspx"/>
    <!-- 后台通知地址，填写后台接收银联后台通知的地址，必须外网能访问 -->
    <add key="backUrl" value="http://222.222.222.222:8080/demo/api_11_jf/BackRcvResponse.aspx"/>
    <!-- 是否验证服务器https证书 -->
    <add key="ifValidateRemoteCert" value="false"/>
    <!--##########################以下为缴费产品的配置，其他产品接入时可无视#############################-->
    <!-- 前台交易地址 -->
    <add key="sdk.jf.frontTransUrl" value="https://gateway.95516.com/jiaofei/api/frontTransReq.do"/>
    <!-- 后台交易地址 -->
    <add key="sdk.jf.backTransUrl" value="https://gateway.95516.com/jiaofei/api/backTransReq.do"/>
    <!-- 交易状态查询地址 -->
    <add key="sdk.jf.singleQueryUrl" value="https://gateway.95516.com/jiaofei/api/queryTrans.do"/>
    <!-- 有卡交易地址 -->
    <add key="sdk.jf.cardRequestUrl" value="https://gateway.95516.com/jiaofei/api/cardTransReq.do"/>
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.jf.appRequestUrl" value="https://gateway.95516.com/jiaofei/api/appTransReq.do"/>
  </appSettings>
  <connectionStrings/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.5.1"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SDCardPayAPIExporterServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mas.sdo.com/api-acquire-channel/services/sdcardpay" binding="basicHttpBinding" bindingConfiguration="SDCardPayAPIExporterServiceSoapBinding" contract="ServiceReference1.ApiPaySoap" name="ApiPaySoap"/>
    </client>
  </system.serviceModel>
  <location path="notify/YZCH_Card_Return.aspx">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
  </location>
  <location path="notify/ebatong/distribution_notify.aspx">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
  </location>
  <!--<location path="agentDistribution.aspx">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
  </location>-->
</configuration>