
.header{
	border-bottom: 1px solid #e5e5e5;
}


.smallbutton{
	color:#fff!important;
	font-size:12px;
	padding:0 10px;
	height:25px;
	background:#999;
	border-radius:3px;
	display:inline-block;
	border: none;
	cursor:pointer;
}


.smallbutton:hover{
	background:#666;
	text-decoration:none;
}



.getpassword{
	padding-top:30px;
	background:#fff;
	border:1px solid #e5e5e5;
	margin-top: 15px;
	height: 475px
}




.getpassword .step{
	height: 81px;
	margin-top: 20px;
	background-image: url(images/register_step_bg.gif);
	background-repeat: no-repeat;
}


.getpassword .step1{
	background-position: center top;
}



.getpassword .step2{
	background-position: center -81px;
}



.getpassword .step3{
	background-position: center -162px;
}



.getpassword .step4{
	background-position: center -243px;
}



.getpassword .form{
	padding: 80px 0 0 180px;
	font-size: 14px
}




.getpassword .form td{
	padding: 10px;
}

.getpassword .form .input{
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
}







.selectform{
	padding-top:50px;
	height:150px
}

.selectform table{
	width:800px;
	margin:40px auto 0 auto;
}

.selectform table td a{
	display:block;
	height:40px;
	line-height:40px;
	padding-top:85px;
	width:100px;
	margin:0 auto;
	color:#0099c5;
	background-repeat:no-repeat;
	background-position:center 10px;
	text-align:center
}

.selectform table td a.none{
	color:#aaa
}


.selectform .ask a{
	background-image:url(images/getpassword_1_1.png)
}

.selectform .ask a.none{
	background-image:url(images/getpassword_1_2.png)
}

.selectform .email a{
	background-image:url(images/getpassword_2_1.png)
}

.selectform .email a.none{
	background-image:url(images/getpassword_2_2.png)
}

.selectform .mobile a{
	background-image:url(images/getpassword_3_1.png)
}

.selectform .mobile a.none{
	background-image:url(images/getpassword_3_2.png)
}









.submit{
	width: 120px;
	height: 30px;
	background:#ff8400;
	color:#fff!important;
	font-size:16px;
	width:142px;
	height:42px;
	line-height:42px;
	text-align:center;
	background:#ff8400;
	border: none;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
}


.submit:hover{
	background:#ff6e00;
}


