.paytypes {
	padding: 30px 20px;
}
.paytypes div {
	width: 210px;
	height: 40px;
	float: left;
	padding: 4px 0;
	overflow: hidden;
}
.paytypes div b {
	display: block;
	padding-top: 15px;
	height: 5px;
	width: 20px;
	float: left;
}
.paytypes div label {
	display: block;
	width: 160px;
	height: 40px;
	float: left;
}
.paytypes div .ico {
	display: block;
	width: 130px;
	height: 40px;
	float: left;
	background-image: url(../images/bank_logos.png);
	border: 1px solid #eee;
	background-color: #fff;
}
.paytypes div .ico:hover {
	border: 1px solid #ffb47d
}
.paytypes div span {
	display: block;
	width: 20px;
	text-align: center;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	background: #c9e9f5;
	border: 1px solid #eee;
	border-left: none;
	font-size: 12px;
	word-wrap: break-word;
	word-break: normal;
}
.paytypes div .cmb {
	background-position: 0 -200px;
}
.paytypes div .icbc {
	background-position: 0 0;
}
.paytypes div .ccb {
	background-position: 0 -40px;
}
.paytypes div .boc {
	background-position: 0 -240px;
}
.paytypes div .cib {
	background-position: 0 -440px;
}
.paytypes div .gdb {
	background-position: 0 -520px;
}
.paytypes div .citic {
	background-position: 0 -320px;
}
.paytypes div .spabank {
	background-position: 0 -480px;
}
.paytypes div .abc {
	background-position: 0 -80px;
}
.paytypes div .comm {
	background-position: 0 -160px;
}
.paytypes div .postgc {
	background-position: 0 -120px;
}
.paytypes div .ceb {
	background-position: 0 -280px;
}
.paytypes div .spdb {
	background-position: 0 -360px;
}
.paytypes div .cmbc {
	background-position: 0 -400px;
}
.paytypes div .bjbank {
	background-position: 0 -720px;
}
.paytypes div .hzcb {
	background-position: 0 -680px;
}
.paytypes div .bjrcb {
	background-position: 0 -720px;
}
.paytypes div .shbank {
	background-position: 0 -600px;
}
.paytypes div .nbbank {
	background-position: 0 -640px;
}
.paytypes div .alipay {
	background-position: 5px -3775px
}
.paytypes div .hxb {
	background-position: 0 -560px;
}
.paytypes div .dlb {
	background-position: 0 -760px;
}
.paytypes div .czsb {
	background-position: 0 -800px;
}
.paytypes div .sjb {
	background-position: 0 -840px;
}
.paytypes div .szdb {
	background-position: 0 -880px;
}
.paytypes div .hsbc {
	background-position: 0 -920px;
}




























